/***=================================
    *** @DESC ADMIN DASHBOARD GLOBAL CSS
=================================***/
.admin_margin-padding-main {
  padding-left: vw(141px);
  padding-right: vw(141px);
}

.pagination-main-css {
  .page-item.active .page-link {
    border-radius: vw(50px);
    background-color: #ff4d2d !important;
    color: #fff;
    padding: vw(10px);
  }

  .page-item.active .page-link:focus {
    outline: none;
    box-shadow: none;
  }
  .page-link {
    color: black;
    font-size: vw(21px);
    font-family: AvenirLTStd-Roman;
    line-height: vw(24px);
    border: none;
  }

  .page-link:hover {
    background-color: transparent;
  }

  .page-link:focus {
    outline: none;
    box-shadow: none;
  }
}

/******************************
 *@DESC SUB HEADER SCSS
******************************/
.sub-header-main {
  height: vw(120px);
  background-color: #fcfcfc;
  border-color: #e6e6e6;
  padding-top: vw(20px);
  padding-bottom: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.05);

  .back-button-css {
    display: flex;
    align-items: center;
    text-decoration: none;

    .fa-caret-left {
      font-size: vw(55px);
      margin-right: vw(10px);
      color: #000;
    }

    span {
      font-size: vw(18px);
      color: #000;
      font-family: AvenirLTStd-Medium;
    }
  }

  .image-vendor-view {
    margin-left: vw(73px);

    img {
      width: vw(80px);
      height: vw(80px);
      border-radius: vw(20px);
    }

    .inside-view-info {
      margin-left: vw(30px);

      h5 {
        color: #000;
        font-size: vw(28px);
        font-family: AvenirLTStd-Black;
        line-height: vw(34px);
        padding-top: vw(6px);
      }

      p {
        color: #000;
        font-size: vw(18px);
        font-family: AvenirLTStd-Medium;
        margin-top: vw(13px);
      }
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    height: 8vh;

    .navbar__link {
      font-size: vw(21px);
      line-height: vw(24px);
      font-family: AvenirLTStd-Roman;
      cursor: pointer;
      text-decoration: none !important;
      color: #181818;
      border-bottom: vw(3px) solid transparent;
    }

    .navbar__link:hover {
      text-decoration: none !important;
    }

    .navbar__link_active {
      border-bottom: vw(5px) solid #ff4d2d;
      transition: border-bottom 0.5s ease-in-out;
      text-decoration: none;
      color: #000;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
    }
  }
}

.inside-main-menu {
  background-color: #fff;
  width: 100%;
  .navbar {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 30%;
    border-bottom: 1px solid #e6e6e6;
    justify-content: center;

    .navbar__link {
      font-size: vw(21px);
      line-height: vw(24px);
      font-family: AvenirLTStd-Roman;
      cursor: pointer;
      text-decoration: none;
      color: #181818;
      border-bottom: vw(3px) solid transparent;
      margin-right: vw(36px);
      padding-top: vw(20px);
      padding-bottom: vw(20px);
    }

    .navbar__link:hover {
      text-decoration: none !important;
    }

    .navbar__link_active {
      border-bottom: vw(5px) solid #ff4d2d;
      transition: border-bottom 0.5s ease-in-out;
      text-decoration: none;
      color: #000;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
      margin-right: vw(36px);
      padding-top: vw(10px);
      padding-bottom: vw(20px);
    }
  }
}
