/********************
 *@DESC   Reusable scss
********************/

/*****************************
 *@DESC   Vendor Table Details scss
******************************/
.newtable-vendor {
  border-radius: vw(40px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  .table-head-section {
    color: #fff;
    font-size: vw(21px);
    font-family: AvenirLTStd-Medium;

    background: -moz-linear-gradient(
      345deg,
      rgba(255, 77, 45, 1) 0%,
      rgba(255, 163, 130, 1) 100%
    ); /* ff3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%, rgba(255, 77, 45, 1)),
      color-stop(100%, rgba(255, 163, 130, 1))
    ); /* safari4+,chrome */
    background: -webkit-linear-gradient(
      345deg,
      rgba(255, 77, 45, 1) 0%,
      rgba(255, 163, 130, 1) 100%
    ); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(
      345deg,
      rgba(255, 77, 45, 1) 0%,
      rgba(255, 163, 130, 1) 100%
    ); /* opera 11.10+ */
    background: -ms-linear-gradient(
      345deg,
      rgba(255, 77, 45, 1) 0%,
      rgba(255, 163, 130, 1) 100%
    ); /* ie10+ */
    background: linear-gradient(
      105deg,
      rgba(255, 77, 45, 1) 0%,
      rgba(255, 163, 130, 1) 100%
    ); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4D2D', endColorstr='#FFA382',GradientType=1 ); /* ie6-9 */
  }

  .vendor-table-body {
    h5 {
      color: #000;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
      text-transform: capitalize;
    }

    p {
      color: #000;
      font-size: vw(21px);
      font-family: AvenirLTStd-Medium;
      text-transform: capitalize;
      margin-bottom: vw(17px);
    }

    img {
      width: vw(42px);
      height: vw(42px);
      margin-right: vw(20px);
      box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
      border-radius: vw(5px);
    }
    .superAdmin-vendor-toggle {
      height: 16vh;
      display: flex;
      align-items: center;
    }
  }
}

/*******************************
 * @DESC ALL USER COMPONENT CSS
********************************/
.user-table-radius {
  border-radius: vw(40px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  table {
    border-collapse: collapse;
    border-radius: vw(40px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: vw(0px);
  }
}

.table-headclass {
  height: vw(80px);
  background-image: linear-gradient(to right, #ff4d2d, #ffa382);

  th {
    font-size: vw(21px);
    font-family: AvenirLTStd-Medium;
    color: #fff;
    vertical-align: middle !important;
    border: none !important;
  }
}
.table-rowclass {
  height: auto;
  td {
    font-size: vw(21px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    vertical-align: middle !important;
    border: none !important;
  }
  .user-logo-img {
    width: vw(42px);
    height: vw(42px);
    margin-right: vw(20px);
    border-radius: vw(5px);
    box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
  }
}

/*******************************
 * @DESC PAGINATION CSS
********************************/

.pagination-section {
  display: flex;
  justify-content: center;
  margin-top: vw(60px);

  #page-list {
    .pagination {
      .page-item {
        .fa {
          margin: vw(0px) vw(40px);
        }

        .page-link {
          font-size: vw(21px);
          font-family: AvenirLTStd-Roman;
          color: black;
          width: vw(40px);
          height: vw(40px);
          border-radius: vw(40px);
          margin-right: vw(12px);
          padding: vw(6px) vw(7px);
          text-decoration: none;
          border: none;
        }

        .active-page-link {
          font-size: vw(21px);
          font-family: AvenirLTStd-Roman;
          display: initial;
          width: vw(40px);
          height: vw(40px);
          color: #fff;
          border: none;
          background-color: #ff4d2d;
          border-radius: vw(40px);
          margin-right: vw(12px);
          padding: vw(6px) vw(7px);
        }
        a:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}
