/***=================================
    *** @DESC ADMIN NAVIGATION CSS
=================================***/
.admin_navigation_main {
  background-color: #fff;
  // border: vw(1px) solid #e6e6e6;
  height: vw(90px);
  box-shadow: vw(0px) vw(3px) vw(50px) rgba(0, 0, 0, 0.1);

  .navbar-brand {
    color: #000;
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Black;
    text-decoration: none;
  }

  .nav-link:link {
    color: #000;
    font-size: vw(24px);
    line-height: vw(29px);
    font-family: AvenirLTStd-Roman;
    text-decoration: none;
  }
  .activeRoute {
    border-bottom: 0.2rem solid #000;
    transition: linear 10s;
  }
  .active-newClass {
    color: #000;
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Black;
    font-weight: bold;
  }

  li.different {
    border: none;
    position: relative;
  }
  li.different:hover {
    border: none;
  }
  li:hover {
    border-bottom: vw(5px) solid #ffffff;
  }
  .different::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom: 0;
    background-color: white;
    transition: all ease-in-out 0.2s;
  }
  .different:hover::after {
    width: 100%;
    left: 0;
  }

  .logout-button-img {
    width: vw(30px);
    height: vw(30px);
  }
}

/***=================================
    *** @DESC ADMIN SUB HEADERS CSS
=================================***/

.subheader-two {
  padding-top: vw(22px);
  padding-bottom: vw(29px);
  justify-content: space-between;
  align-items: center;

  h4 {
    color: #000;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
  }
  .search-div {
    position: relative;

    .search-img {
      position: absolute;
      width: 16px;
      height: 16.57px;
      top: 34%;
      left: 80%;
    }
    .searchclass {
      width: vw(248px);
      height: vw(60px);
      border: vw(1px) solid #e6e6e6;
      border-radius: vw(30px);
      padding-left: vw(20px);
    }
    ::placeholder {
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium;
      color: #cccccc;
    }
    input:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }
}
