/*******************************
 * @DESC PAGE NOT FOUND
 ******************************/
.mainPageNotFoundBody {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainPageNotFoundWidth {
    height: vw(402px);
  }

  .pageNotFoundImage {
    width: vw(411px);
    height: vw(288px);
    margin-top: vw(114px);
  }

  .pageNotFoundOops {
    width: vw(390px);
    height: vw(114px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: vw(1px) solid #707070;
  }

  h5 {
    font-size: vw(40px);
    color: #000000;
    font-family: AvenirLTStd-Black;
  }

  p {
    font-size: vw(30px);
    color: #000000;
    font-family: AvenirLTStd-Medium;
    margin-left: vw(150px);
    margin-top: vw(30px);
  }
  .shape-image {
    position: absolute;
    left: 0;
    top: vw(-1.6px);
  }
}
