/***=================================
    *** @DESC Nomination CSS
=================================***/
.nomination-main {
  padding-left: vw(141px);
  padding-right: vw(141px);
  .nomination-table {
    border-radius: vw(40px);
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.1);

    .nomination-head-table-class {
      height: vw(80px);
      background: linear-gradient(to right, #ff4d2d 0%, #ffa382 100%);
      th {
        font-size: vw(21px);
        line-height: vw(25px);
        color: #fff;
        font-family: AvenirLTStd-Medium;
      }
    }
    .nomination-body-table-class {
      td {
        font-size: vw(21px);
        line-height: vw(25px);
        color: #000;
        font-family: AvenirLTStd-Medium;
      }
    }
  }
}
