/***************************
    DASHBOARD Add REVIEW SCSS
***************************/
.main-addreview {
  padding-left: vw(141px);
  padding-right: vw(141px);
  .addreview-table {
    border-radius: vw(40px);
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.1);

    .addreview-head-table-class {
      height: vw(80px);
      background: linear-gradient(to right, #ff4d2d 0%, #ffa382 100%);
      th {
        font-size: vw(21px);
        line-height: vw(25px);
        color: #fff;
        font-family: AvenirLTStd-Medium;
        vertical-align: middle;
      }
    }
    .addreview-body-table-class {
      td {
        font-size: vw(21px);
        line-height: vw(25px);
        color: #000;
        font-family: AvenirLTStd-Medium;
        vertical-align: middle;

        .restaurant-image-td {
          width: vw(100px);
          height: vw(60px);
          border-radius: vw(50px);
          //margin-right: vw(20px);
        }

        .name-restaurant-dark {
          font-family: AvenirLTStd-Black;
        }

        .eye-img {
          width: vw(42px);
          height: vw(42px);
          margin-right: vw(29px);
        }
        .edit-img {
          width: vw(42px);
          height: vw(42px);
        }
      }
    }
  }
}

/***************************
      DASHBOARD ALL REVIEW SCSS
  ***************************/
.main-allreview {
  .back-button-restaurant {
    display: flex;
    align-items: center;
    font-size: vw(18px);
    line-height: vw(22px);
    color: #000;
    font-family: AvenirLTStd-Medium;
    text-decoration: none;

    .fa-caret-left {
      font-size: vw(40px);
      margin-right: vw(20px);
      color: #000;
    }
  }

  .review-text {
    font-size: vw(36px);
    line-height: vw(43px);
    color: #000;
    font-family: AvenirLTStd-Black;
    margin-bottom: vw(30px);
  }

  .left-col {
    width: 100%;
    height: auto;
    border-radius: vw(20px);
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
    padding: vw(30px) vw(30px);

    .review-img {
      width: vw(82px);
      height: vw(82px);
      margin-right: vw(30px);
    }

    h4 {
      font-size: vw(21px);
      line-height: vw(25px);
      color: #000;
      font-family: AvenirLTStd-Black;
      margin-bottom: vw(9px);
    }

    h5 {
      font-size: vw(21px);
      line-height: vw(25px);
      color: #000;
      font-family: AvenirLTStd-Medium;
    }

    .add-review-button {
      width: vw(248px);
      height: vw(60px);
      border-radius: vw(30px);
      background-color: #f85032;
      font-size: vw(21px);
      line-height: vw(25px);
      color: #fff;
      font-family: AvenirLTStd-Medium;
    }
    .progressbar-class {
      width: vw(223px);
      height: vw(20px);
      border-radius: vw(20px);
      margin-bottom: vw(20px);
      background-color: rgba(255, 207, 95, 0.3);
    }
  }

  .right-col {
    border-radius: vw(20px);
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
    padding: vw(20px) (10px);
    margin-bottom: (20px);
    height: 15vh;

    .right-col-section-one {
      height: 10vh;
      overflow-x: auto;
      border-right: vw(1px) solid #707070;

      span {
        font-size: vw(21px);
        line-height: vw(25px);
        color: #000;
        font-family: AvenirLTStd-Medium;
      }
    }

    .right-col-section-two {
      display: flex;
      align-items: center;
      border-right: vw(1px) solid #707070;

      .user-img-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: vw(30px);

        .user-img {
          width: vw(59px);
          height: vw(59px);
          margin-right: vw(26px);
        }

        h3 {
          font-size: vw(21px);
          line-height: vw(25px);
          color: #000;
          font-family: AvenirLTStd-Black;
        }
      }
    }

    .right-col-section-three {
      display: flex;
      justify-content: center;
      align-items: center;

      .edit-img {
        width: vw(42px);
        height: vw(42px);
        margin-right: vw(10px);
      }

      .delete-img {
        width: vw(42px);
        height: vw(42px);
      }
    }
  }
}

/*************************************
      DASHBOARD Add REVIEW Popup SCSS
  **************************************/

.add-review-Modal {
  width: vw(864px);
  height: auto;
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  padding: vw(0px);
}
.add-review-popup {
  .popup-head {
    width: 100%;
    height: auto;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    padding: vw(30px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
  }

  .add-review-label-class {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #000;
    font-family: AvenirLTStd-Medium;
  }

  .add-review-input:focus {
    outline: none;
    box-shadow: none;
  }

  .add-review-input {
    width: vw(804px);
    height: vw(60px);
    border-radius: vw(30px);
    border: vw(1px) solid #cccccc;
    padding-left: vw(30px);
  }

  .add-review-textarea:focus {
    outline: none;
    box-shadow: none;
  }
  .add-review-textarea {
    width: vw(804px);
    height: vw(141.2px);
    border-radius: vw(30px);
    border: vw(1px) solid #cccccc;
    padding-left: vw(30px);
    padding-top: vw(10px);
    resize: none;
  }

  .button-div {
    float: right;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }
}
