/********************
    Main Details Page scss
********************/
.main-details {
  /*************************
   * MAIN DETAILS SECTIONONE
   **************************/
  .main-details-sectionone {
    height: 100vh;
    padding: vw(88px) vw(141px) vw(20px) vw(141px);
    overflow: scroll;
    overflow-x: hidden;

    .help-icon-main-image {
      width: vw(47.96px);
      height: vw(45px);
    }

    /***=============== 
      map page css 
    ===============***/
    .map-setup {
      margin-top: vw(350px);

      h4 {
        font-size: vw(36px);
        line-height: vw(43px);
        font-family: AvenirLTStd-Black;
        color: #000;
        margin-bottom: vw(30px);
      }
      p {
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-Medium;
        color: #000;
        margin-bottom: vw(30px);
      }
    }

    /***=============== 
      MAP YES PAGE CSS 
    ================***/
    .map-setup-yes {
      h4 {
        font-size: vw(36px);
        line-height: vw(43px);
        font-family: AvenirLTStd-Black;
        color: #000;
        margin-bottom: vw(30px);
      }
      p {
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-Medium;
        color: #000;
        margin-bottom: vw(30px);
      }

      .textarea-custom {
        border: vw(1px) solid rgba(204, 204, 204, 0.5) !important;
        border-radius: vw(30px);
        padding: vw(20px);
      }

      ::placeholder {
        color: #e6e6e6;
      }

      .example-upload-kyc {
        color: #ccc;
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-MediumOblique;
      }
      .input-search-map-yes-file-css {
        position: relative;
        top: vw(-690px);
      }
    }
    iframe {
      width: 100%;
      height: 55vh;
      border: none;
      margin-bottom: vw(30px);
      border-radius: vw(30px);
    }

    .account-type {
      color: #000;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
      margin-bottom: vw(25px);
    }
    /*************************
   * CUSINE CSS
   *8************************/
    .cuisine-main {
      .service-heading-text-subscription {
        color: #000;
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-Black;
        margin-bottom: vw(10px);
        padding-top: vw(10px);
      }
      .subscription-custom-input {
        border-radius: vw(45px);
        padding: vw(20px);
        width: 55%;
        font-size: vw(21px);
        height: vw(70px);
        background-color: #fff !important;
        opacity: 1 !important;
        outline: none;
        border: 1px solid #e6e6e6;
      }
      .subscription-custom-input:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  /*
    *  STYLE 4
    */

  #style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #ccc !important;
  }

  #style-3::-webkit-scrollbar {
    width: vw(0px) !important;
    background-color: #ccc !important;
  }

  #style-3::-webkit-scrollbar-thumb {
    background-color: #ff4d2d !important;
    border: none;
  }

  /*************************
   * MAIN DETAILS SECTIONTWO
   *8************************/

  .main-details-sectiontwo {
    height: 100vh;
    box-shadow: vw(0px) vw(0px) vw(30px) rgba(0, 0, 0, 0.1);
    border-top-left-radius: vw(20px);
    border-bottom-left-radius: vw(20px);
    text-align: center;
    background-color: #fff;
    // background: -moz-linear-gradient(
    //   333deg,
    //   #ffa382 0%,
    //   #ff4d2d 100%
    // ); /* ff3.6+ */
    // background: -webkit-gradient(
    //   linear,
    //   left top,
    //   right bottom,
    //   color-stop(0%, #ffa382),
    //   color-stop(100%, #ff4d2d)
    // ); /* safari4+,chrome */
    // background: -webkit-linear-gradient(
    //   333deg,
    //   #ffa382 0%,
    //   #ff4d2d 100%
    // ); /* safari5.1+,chrome10+ */
    // background: -o-linear-gradient(
    //   333deg,
    //   #ffa382 0%,
    //   #ff4d2d 100%
    // ); /* opera 11.10+ */
    // background: -ms-linear-gradient(
    //   333deg,
    //   #ffa382 0%,
    //   #ff4d2d 100%
    // ); /* ie10+ */
    // background: linear-gradient(117deg, #ffa382 0%, #ff4d2d 100%); /* w3c */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA382', endColorstr='#FF4D2D',GradientType=1 ); /* ie6-9 */

    h5 {
      font-size: vw(28px);
      line-height: vw(34px);
      font-family: AvenirLTStd-Black;
      color: #fff;
      margin-top: vw(28px);
      margin-bottom: vw(28px);
      text-align: center;
    }

    .button-without-round {
      font-size: vw(28px);
      line-height: vw(36px);
      font-family: AvenirLTStd-Light;
      color: #000;
      border-radius: vw(50px);
      width: vw(74px);
      height: vw(74px);
    }

    .button-withRound {
      border: vw(2px) solid #f85032 !important;
    }

    .button-background-select {
      background-color: #fff;
      color: #ff4d2d;
    }

    button:focus {
      outline: none;
      box-shadow: none;
    }

    .store-setup {
      text-align: center;

      h4 {
        font-size: vw(36px);
        line-height: vw(47px);
        font-family: AvenirLTStd-Light;
        color: #000;
        margin-top: vw(100px);
        margin-bottom: vw(47px);
        text-align: center;
      }

      .person-of-contact-right-side-img {
        width: vw(318.42px);
        height: vw(266.08px);
      }

      .restaurant-right-side-img {
        width: vw(210.27px);
        height: vw(250px);
      }

      .restaurant-timing-right-side-img {
        width: vw(380.42px);
        height: vw(379.35px);
      }

      .kyc-right-side-img {
        width: vw(331.29px);
        height: vw(333.36px);
      }

      p {
        font-size: vw(18.5px);
        line-height: vw(27px);
        font-family: AvenirLTStd-Light;
        color: #000;
        margin-top: vw(46.82px);
      }
    }
  }
}
