.main_my_settings_page {
  font-size: vw(36px);
  line-height: vw(42px);
  font-family: AvenirLTStd-Black;
  color: #000;
  padding: vw(40px) vw(100px);
}

.main_settings_container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;

  .left_settings_panel {
    width: 25%;
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.2);
    border-radius: vw(20px);
    padding: vw(30px) vw(50px);
    // height: vw(825px);

    .restaurant-image {
      width: vw(200px);
      height: vw(200px);
      border-radius: vw(10px);
    }
    .name_container {
      display: flex;
      margin-top: vw(20px);
      margin-bottom: vw(10px);

      .edit-restaurant-image {
        width: vw(33.82px);
        height: vw(33.82px);
        margin-left: vw(15px);
      }

      h4 {
        font-size: vw(28px);
        line-height: vw(34px);
        font-family: AvenirLTStd-Black;
        color: #000;
      }
    }

    p {
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium;
      color: #707070;
    }

    .menu_container {
      .circle_settng {
        height: vw(30px);
        width: vw(30px);
        border: vw(1px) solid black;
        border-radius: 50%;
        padding: vw(15px);
      }
      .circle_label {
        padding: vw(15px);
        font-size: vw(20px);
        line-height: vw(24px);
        font-family: AvenirLTStd-Black;
        cursor: pointer;
        color: #000;
      }
    }

    .menu_container_active {
      .circle_settng {
        height: vw(30px);
        width: vw(30px);
        border: vw(1px) solid #ff4d2d;
        background-color: #ff4d2d;
        border-radius: 50%;
        padding: vw(15px);
      }
      .circle_label {
        padding: vw(15px);
        font-size: vw(20px);
        line-height: vw(24px);
        font-family: AvenirLTStd-Black;
        cursor: pointer;
        color: #ff4d2d;
      }
    }
  }

  .right_settings_panel {
    width: 70%;
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.2);
    border-radius: vw(20px);
    // height: vw(825px);
    padding: vw(30px) vw(30px) vw(30px) vw(0px);

    .inside-right-pannel {
      padding: vw(15px);
      overflow: scroll;
      overflow-x: hidden;
      height: 80vh;

      h4 {
        font-size: vw(36px);
        line-height: vw(43px);
        font-family: AvenirLTStd-Black;
        color: #000;
      }

      .drop-pin-css {
        color: #000;
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-Medium;
        text-transform: capitalize;
        margin-bottom: vw(10px);
      }

      .textarea-custom {
        border: vw(1px) solid rgba(204, 204, 204, 0.5) !important;
        border-radius: vw(30px);
        padding: vw(20px);
      }

      iframe {
        width: 100%;
        height: 55vh;
        border: none;
        margin-bottom: vw(30px);
        border-radius: vw(30px);
      }

      .Cntact-person-css {
        font-size: vw(36px);
        line-height: vw(42px);
        font-family: AvenirLTStd-Black;
        color: #000;
      }

      // Restaurant Css
      .restaurant-title {
        font-size: vw(22px);
        line-height: vw(34px);
        font-family: AvenirLTStd-Black;
        color: #000;
        margin-top: vw(30px);
        margin-bottom: vw(15px);
      }

      .textarea-restaurant {
        border: vw(1px) solid rgba(204, 204, 204, 0.5) !important;
        border-radius: vw(30px);
      }
    }
    /*
    *  STYLE 4
    */

    #style-4::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #ccc;
    }

    #style-4::-webkit-scrollbar {
      width: vw(8px);
      background-color: #ccc;
    }

    #style-4::-webkit-scrollbar-thumb {
      background-color: #ff4d2d;
      border: vw(2px) solid #ccc;
    }

    /**********************************
     * @DESC Main View All Image CSS
    **********************************/
    .view_all_images_boxOne {
      .main_view_heading_text {
        font-size: vw(30px);
        line-height: vw(34px);
        font-family: AvenirLTStd-Black;
      }

      .view_all_images_boxOne_button {
        width: 20%;
        height: vw(55px);
        border-radius: vw(30px);
        border: vw(1px) solid #ff4d2d;
        background-color: #ffffff;
        font-family: AvenirLTStd-Black;
        font-weight: 800;
        color: #ff4d2d;
        font-size: vw(18px);
        line-height: vw(20px);
        font-family: AvenirLTStd-Book;
        // border: vw(1px) solid rgba(0, 0, 0, 0.1);
        margin-right: vw(25px);
      }

      .view_all_images_boxOne_button:hover {
        border: vw(1px) solid #ff4d2d;
        border-radius: vw(30px);
        box-shadow: 0 vw(8px) vw(16px) 0 rgba(0, 0, 0, 0.2),
          0 vw(6px) vw(20px) 0 rgba(0, 0, 0, 0.19) !important;
        -webkit-transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
        transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
        letter-spacing: vw(1px);
      }

      .view_all_images_boxOne_button_active {
        border-radius: vw(30px);
        width: 20%;
        height: vw(55px);
        font-size: vw(18px);
        line-height: vw(20px);
        font-family: AvenirLTStd-Black;
        color: #ffffff;
        background-color: #ff4d2d;
        border: vw(1px) solid #ff4d2d;
        margin-right: vw(25px);
        box-shadow: 0 vw(8px) vw(16px) 0 rgba(0, 0, 0, 0.2),
          0 vw(6px) vw(20px) 0 rgba(0, 0, 0, 0.19) !important;
      }
    }

    .view_all_images_boxOne_Body {
      border: vw(1px) solid rgba(0, 0, 0, 0.1);
      border-top-left-radius: vw(24px);
      border-top-right-radius: vw(24px);
      border-bottom-left-radius: vw(24px);
      border-bottom-right-radius: vw(24px);
      box-shadow: vw(0px) vw(5px) vw(12px) rgba(0, 0, 0, 0.19);

      .view_images_restaurant_body_header {
        background-color: #ff4d2d;
        border-top-left-radius: vw(24px);
        border-top-right-radius: vw(24px);
        width: 100%;
        height: vw(100px);
        display: flex;
        align-items: center;

        h1 {
          font-size: vw(28px);
          line-height: vw(35px);
          font-family: AvenirLTStd-Black;
          color: #ffffff;
          padding-left: vw(40px);
        }
      }
    }

    #photos {
      /* Prevent vertical gaps */
      line-height: 0;

      -webkit-column-count: 5;
      -webkit-column-gap: 0px;
      -moz-column-count: 5;
      -moz-column-gap: 0px;
      column-count: 5;
      column-gap: 0px;

      .popup-button-images {
        /* Just in case there are inline attributes */
        width: 100%;
        height: auto;
      }

      .add-image-modal-popup {
        width: 85% !important;
        height: auto;
      }
    }
    @media (max-width: 1200px) {
      #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
      }
    }
    @media (max-width: 1000px) {
      #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
      }
    }
    @media (max-width: 800px) {
      #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
      }
    }
    @media (max-width: 400px) {
      #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
      }
    }
  }
}
