/***=====================================
  Login Css
=====================================***/
.login-background-banner {
  background-image: url("../src/assets/images/loginsignupotp/loginBanner.png");
}
.signup-background-banner {
  background-image: url("../src//assets//images/loginsignupotp/signBanner.png");
}
.otp-background-banner {
  background-image: url("../src/assets/images/loginsignupotp/otpBanner.png");
}

@media screen and (min-width: 769px) {
  .main-Login {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-background {
      background-color: rgba(255, 255, 255, 0.75);
      box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.1);
      border-radius: vw(20px);
      padding: 0;
      width: vw(586px);
      height: auto;
    }

    .login_orange {
      background-color: #f85032;
      box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.1);
      height: vw(103px);
      border-top-left-radius: vw(20px);
      border-top-right-radius: vw(20px);

      h1 {
        padding: vw(30px) vw(0px) vw(30px) vw(30px);
        color: #fff;
        font-size: vw(36px);
        line-height: vw(43px);
        font-family: AvenirLTStd-Black;
      }
    }

    .login_padding {
      padding: vw(30px);
    }

    .view-button {
      width: vw(26.8px);
      height: vw(15.35px);
      margin-top: vw(25px);
    }

    .forgot-password {
      color: #000;
      font-size: vw(18px);
      line-height: vw(22px);
      font-family: AvenirLTStd-Medium;
      text-transform: capitalize;
      margin-bottom: vw(10px);
      text-align: right;
      margin-bottom: vw(21px);
      text-decoration: none;
    }
  }

  /*********************
    OTP CSS
*********************/
  .signup-select-form {
    label {
      color: #000000;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium;
      margin-bottom: vw(10px);
      padding-left: vw(15px);
    }

    .select-custom {
      width: vw(109px);
      height: vw(60px);
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium;
      border: 1px solid #cccccc;
      border-radius: vw(30px);
      color: #e6e6e6;
      padding: 0;
    }
  }

  /*********************
    OTP CSS
*********************/
  .otp-classes {
    .otp-para {
      color: #707070;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Book;
      margin-bottom: vw(10px);
    }
    .otp-heading {
      color: #000;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
      font-weight: bold;
      margin-bottom: vw(10px);
    }
    .otp-headingtwo {
      color: #707070;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Book;
      margin-bottom: vw(10px);

      b {
        color: #000;
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-Black;
        font-weight: bold;
      }
    }
  }

  .otp-inputfield-class {
    .input-all-field {
      border: 1px solid #707070;
      border-left: none;
      border-right: none;
      padding: vw(20px) vw(0px);
      text-align: center;
    }

    .otp-input-box {
      color: #000000;
      border: 1px solid #cccccc;
      border-radius: vw(30px);
      padding: vw(10px);
      padding-left: vw(68px);
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Book, sans-serif, Helvetica;
      border-radius: vw(20px);
      width: vw(60px);
      height: vw(60px);
      padding: vw(10px);
      text-align: center;
    }

    .otp-input-box:focus {
      outline: none;
      box-shadow: none;
    }

    .otp-input-dash {
      color: #000000;
      margin-left: vw(11px);
      margin-right: vw(11px);

      &:last-child {
        display: none;
      }
    }

    .have-received {
      color: #000;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium;
      margin-top: vw(30px);
      margin-bottom: vw(30px);
    }
  }
}

/***********************************
            Media Query Navigation   
***************************************/
@media screen and (max-width: 768px) {
  .main-Login {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-background {
      background-color: rgba(255, 255, 255, 0.75);
      box-shadow: mvw(0px) mvw(0px) mvw(20px) rgba(0, 0, 0, 0.1);
      border-radius: mvw(20px);
      padding: 0;
      width: mvw(325px);
      height: auto;
    }

    .login_orange {
      padding: mvw(15px) mvw(20px);
      background-color: #f85032;
      box-shadow: mvw(0px) mvw(0px) mvw(20px) rgba(0, 0, 0, 0.1);
      height: auto;
      border-top-left-radius: mvw(20px);
      border-top-right-radius: mvw(20px);

      h1 {
        color: #fff;
        font-size: mvw(25px);
        line-height: mvw(30px);
        font-family: AvenirLTStd-Black;
      }
    }

    .login_padding {
      padding: mvw(20px);
    }

    .view-button {
      width: mvw(26.8px);
      height: mvw(15.35px);
      margin-top: mvw(15px);
    }

    .forgot-password {
      color: #000;
      font-size: mvw(16px);
      line-height: mvw(22px);
      font-family: AvenirLTStd-Medium;
      text-transform: capitalize;
      text-align: right;
      margin-bottom: mvw(21px);
      text-decoration: none;
    }
  }

  /*********************
    OTP CSS
*********************/
  .signup-select-form {
    label {
      color: #000000;
      font-size: mvw(21px);
      line-height: mvw(25px);
      font-family: AvenirLTStd-Medium;
      margin-bottom: mvw(10px);
      padding-left: mvw(15px);
    }

    .select-custom {
      width: mvw(109px);
      height: mvw(60px);
      font-size: mvw(21px);
      line-height: mvw(25px);
      font-family: AvenirLTStd-Medium;
      border: 1px solid #cccccc;
      border-radius: mvw(30px);
      color: #e6e6e6;
      padding: 0;
    }
  }

  /*********************
    OTP CSS
*********************/
  .otp-classes {
    .otp-para {
      color: #707070;
      font-size: mvw(21px);
      line-height: mvw(25px);
      font-family: AvenirLTStd-Book;
      margin-bottom: mvw(10px);
    }
    .otp-heading {
      color: #000;
      font-size: mvw(21px);
      line-height: mvw(25px);
      font-family: AvenirLTStd-Black;
      font-weight: bold;
      margin-bottom: mvw(10px);
    }
    .otp-headingtwo {
      color: #707070;
      font-size: mvw(21px);
      line-height: mvw(25px);
      font-family: AvenirLTStd-Book;
      margin-bottom: mvw(10px);

      b {
        color: #000;
        font-size: mvw(21px);
        line-height: mvw(25px);
        font-family: AvenirLTStd-Black;
        font-weight: bold;
      }
    }
  }

  .otp-inputfield-class {
    .input-all-field {
      border: 1px solid #707070;
      border-left: none;
      border-right: none;
      padding: mvw(20px) mvw(0px);
      text-align: center;
    }

    .otp-input-box {
      color: #000000;
      border: 1px solid #cccccc;
      border-radius: mvw(30px);
      padding: mvw(10px);
      padding-left: mvw(68px);
      font-size: mvw(21px);
      line-height: mvw(25px);
      font-family: AvenirLTStd-Book, sans-serif, Helvetica;
      border-radius: mvw(20px);
      width: mvw(60px);
      height: mvw(60px);
      padding: mvw(10px);
      text-align: center;
    }

    .otp-input-box:focus {
      outline: none;
      box-shadow: none;
    }

    .otp-input-dash {
      color: #000000;
      margin-left: mvw(11px);
      margin-right: mvw(11px);

      &:last-child {
        display: none;
      }
    }

    .have-received {
      color: #000;
      font-size: mvw(21px);
      line-height: mvw(25px);
      font-family: AvenirLTStd-Medium;
      margin-top: mvw(30px);
      margin-bottom: mvw(30px);
    }
  }
}
