/*******************************
 * @DESC REUSABLE COMPONENT CSS
********************************/

/*******************************
 * @DESC INPUT COMPONENT CSS
********************************/
.input-lableclass {
  font-size: vw(21px);
  line-height: vw(25px);
  color: #000;
  font-family: AvenirLTStd-Medium;
  text-transform: capitalize;
  margin-bottom: vw(10px);
  margin-top: vw(20px);
}

.poctwo-input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  background-color: #fff;
  border: vw(1px) solid #cccccc;
  border-radius: vw(30px);
  width: 100%;
  height: vw(60px);
  padding: vw(11px);

  img {
    width: vw(38px);
    height: vw(38px);
  }

  .input-field {
    width: 100%;
    padding: vw(10px);
    outline: none;
    border: none !important;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Book;
  }

  .input-field:focus {
    border: vw(2px) solid dodgerblue;
  }
}

.custom-file-input {
  color: #000000b5;
  opacity: 1;
  width: vw(575px);
  position: absolute;
  top: 55%;
  height: vw(60px);
}
.custom-file-input:focus {
  outline: none;
  box-shadow: none;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: '\f055';
  font-family: FontAwesome;
  font-size: vw(60px);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: vw(-20px);
}
// .custom-file-input:hover::before {
//   border-color: black;
// }
.custom-file-input:active {
  outline: 0;
}
// .custom-file-input:active::before {
//   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
// }

.text-area-description {
  width: 100%;
  border: vw(1px) solid #cccccc;
  border-radius: vw(30px);
  padding: vw(18px);
}

/*******************************
 * @DESC BUTTON COMPONENT CSS
********************************/
.button-width {
  width: vw(248px);
  height: vw(60px);
  border-radius: vw(30px);
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  text-transform: capitalize;
}

.button-width:focus {
  outline: none;
  box-shadow: none;
}

.button-brown {
  background-color: #ff5757;
  color: #fff;
}
.button-blue {
  background-color: #57b6ff;
  color: #fff;
}
.button-border-brown {
  background-color: #fff;
  border: vw(1px) solid #ff5757;
  color: #ff5757;
}
.button-border-blue {
  background-color: #fff;
  border: vw(1px) solid #57b6ff;
  color: #57b6ff;
}

/*******************************
 * @DESC REUSABLE COMPONENT CSS
********************************/
.large-text {
  font-size: vw(36px);
  line-height: vw(43px);
  font-family: AvenirLTStd-Black;
  color: #000;
  margin-top: vw(30px);
  margin-bottom: vw(30px);
}
.size-28px {
  font-size: vw(28px);
  line-height: vw(34px);
  font-family: AvenirLTStd-Black;
  color: #000000;
  text-decoration: none;
}

/*******************************
 * @DESC REUSABLE COMPONENT CSS
********************************/
.table-headclass {
  th {
    height: vw(80px);
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    background-color: #ff5757;
    color: #fff;
    vertical-align: middle !important;
    border: none !important;
    text-align: left;
  }
}
.table-rowclass {
  td {
    height: vw(80px);
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    vertical-align: middle !important;
    border: none !important;
    text-align: left;
  }
  .item-img-class {
    width: vw(60px);
    height: vw(60px);
  }
  .toggle-div-class {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
