/*===========================================================
   All vendors => view vendor => menu block view menu items
============================================================*/

.p4v2-menu-block-view-menu-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.poc4v2-menutitleblock--tabs {
  margin-right: vw(111px);
}

.p4v2-menu-block-view-menu-item__block {
  width: vw(387px);
  height: vw(355px);
  box-shadow: 0 0 vw(30px) rgba(0, 0, 0, 0.1);
  border-radius: vw(15px);
  overflow: auto;
  margin-right: vw(30px);
  margin-bottom: vw(30px);
}

.p4v2-menu-block-view-menu-item__img {
  height: vw(248px);
  width: auto;
  text-align: center;
}

.p4v2-menu-block-view-menu-item__text-block {
  padding: vw(20px) vw(30px);
  display: flex;
  justify-content: space-between;
}

.p4v2-menu-block-view-menu-item__text-block-title {
  font-size: vw(24px);
  line-height: vw(29px);
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  margin-bottom: vw(13px);
}

.p4v2-menu-block-view-menu-item__text-black {
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
}

.p4v2-menu-block-view-menu-item__text-medium {
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
}
