/*=============================================
   All vendors => view vendor => menu add Category
==============================================*/
.p4v2-add-menu-category-form {
  padding: vw(39px) vw(419px);

  .form-control {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: vw(15px);
  }
}
.p4v2-add-menu-category-form__title {
  font-size: vw(36px);
  line-height: vw(43px);
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  margin-bottom: vw(30px);
}
.p4v2-add-menu-category-form__block-title {
  font-size: vw(28px);
  line-height: vw(34px);
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
}

.p4v2-add-menu-category-form__mb-30 {
  margin-right: vw(30px);
  .cross-selection-category-section {
    margin-bottom: vw(20px);
    span {
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    }
    .cross-selection-buttons {
      position: relative;
      width: vw(248px);
      height: vw(90px);
      background-color: #fff;
      border-radius: vw(45px);
      border: vw(1px) solid #cccccc;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
      .cross-selection-button-icon {
        width: vw(48px);
        height: vw(48px);
        position: absolute;
        left: 6%;
        top: 25%;
      }
    }
  }
}

.p4v2-menu-slide-edit-btn--bg-blue {
  background-color: #57b6ff;
  border: none;
  color: #ffffff;
  box-shadow: 0 0 vw(20px) rgba(0, 0, 0, 0.05);
}
