/*===========================================
   All vendors => view vendor => menu
============================================*/

.font-family-book {
  font-family: AvenirLTStd-Book, sans-serif, Helvetica !important;
}

.p4v2-text-gray {
  color: #707070;
}

// padding bottom
.p4v2-pb-5 {
  padding-bottom: vw(5px);
}

.p4v2-pb-10 {
  padding-bottom: vw(10px);
}

.p4v2-pb-20 {
  padding-bottom: vw(20px);
}

// margin bottom
.p4v2-mb-15 {
  margin-bottom: vw(15px);
}

.p4v2-font-18-light {
  font-size: vw(18px);
  line-height: vw(24px);
  font-family: AvenirLTStd-Light, sans-serif, Helvetica;
}

.p4v2-font-21-book,
.p4v2-font-21-medium,
.p4v2-font-21-black {
  font-size: vw(21px);
  line-height: vw(25px);
}

.p4v2-font-24-medium,
.p4v2-font-24-black {
  font-size: vw(24px);
}

.p4v2-font-21-book {
  font-family: AvenirLTStd-Book, sans-serif, Helvetica;
}

.p4v2-font-21-black,
.p4v2-font-24-black {
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
}

.p4v2-font-21-medium,
.p4v2-font-24-medium {
  font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
}

*::-webkit-scrollbar {
  width: vw(1px);
  height: vw(5px);
}

*::-webkit-scrollbar-track {
  background-color: #fafafa;
}

*::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

.map-inputfield--spiceLevelDisabled:disabled {
  user-select: none;
  background-color: #cccccc !important;
  color: #e6e6e6 !important;
}

@import "./menuTitleBlock";
@import "./menuListTable";
@import "./menuSlideBlock";
@import "./menuAddItemForm";
@import "./menuSelectInputDropdown";
@import "./menuFileUpload";
@import "./menuTabs";
@import "./menuBlockViewMenuItems";
@import "./menuPagination";
@import "./menuAddItemFormTags";
@import "./menuAddItemFormFoodSpiceLevel";
@import "./menuAddItemBlockViewCategory";
@import "./menuAddCategoryForm";
