.p4-v2-cuisine-main {
  .custom_file_upload {
    cursor: pointer;

    .custom_input_upload {
      width: 100%;
      height: vw(42px);
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      cursor: pointer;
    }
    .custom_input_label {
      font-family: "Avenir-Light";
      font-size: vw(18px);
      display: flex;
      line-height: vw(42px);
      width: 100%;
      cursor: pointer;
    }
  }

  .seleect_chain {
    font-family: AvenirLTStd-Heavy;
    font-size: vw(25px);
  }

  .view_chainsBor {
    width: vw(1082px);
    height: vw(204px);
    display: flex;
    padding: vw(10px);
    margin-top: vw(30px);
    border: 1px solid #e6e6e6;
    border-radius: vw(30px);
    align-items: center;
  }

  .newChain_add {
    margin: vw(10px);
    width: vw(164px);
    height: vw(164px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: vw(20px);
    border: 2px dashed #e6e6e6;
  }

  .newChain_addtwo {
    margin: vw(10px);
    width: vw(164px);
    height: vw(164px);
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 2px dashed #e6e6e6;
  }

  .newChain_addthree {
    margin: vw(10px);
    width: vw(164px);
    height: vw(164px);
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .add_new_text {
    font-family: AvenirLTStd-Medium;
    font-size: vw(30px);
    color: #e6e6e6;
  }

  .fa-plus {
    font-size: vw(18px);
    font-family: "fontawesome";
    color: #e6e6e6;
  }
}
