/*===============================================================
   All vendors => view vendor => menu add item food spice level
===============================================================*/

.spice-level-outer-block {
  padding-bottom: vw(30px);
}

.spice-level-bg-block {
  position: relative;
  width: 100%;
  height: vw(10px);
  background: linear-gradient(90deg, #eeff57 0%, #74ff57 50%, #ff4d2d 100%);
  border-radius: vw(5px);
}

.spice-level-pointer {
  position: absolute;
  top: vw(-8px);
  // default value
  left: 33%;
  width: vw(23px);
  height: vw(23px);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
}

.spice-level-text1,
.spice-level-text2,
.spice-level-text3,
.spice-level-text4 {
  position: absolute;
  top: vw(25px);
  margin-bottom: vw(10px);
  cursor: pointer;
}

.spice-level-text1,
.spice-level-pointer--1 {
  left: 0;
}
.spice-level-text2 {
  left: 30%;
}
.spice-level-text3 {
  left: 63%;
}
.spice-level-text4 {
  left: 92%;
}

.spice-level-pointer--2 {
  left: 32%;
}
.spice-level-pointer--3 {
  left: 63%;
}
.spice-level-pointer--4 {
  left: 98%;
}
