/*=======================================================
   All vendors => view vendor => menu title block
========================================================*/

.poc4v2-menutitleblock {
  margin: vw(38px) vw(141px);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.poc4v2-menutitleblock-title {
  font-size: vw(36px);
  line-height: vw(43px);
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
}

.poc4v2-menulist-block-view-icon {
  width: vw(20px);
  cursor: pointer;
}

// poc4v2-menulist-searchBlock
.poc4v2-menulist-searchBlock {
  position: relative;
  margin-right: vw(30px);

  .poc4v2-menulist-searchBlock__input {
    color: #000000;
    font-size: vw(21px);
    line-height: vw(25px);
    margin: 0;
    padding: vw(17px) vw(41px) vw(17px) vw(23px);
    width: vw(248px);
    height: vw(60px);
    border: vw(2px) solid #e6e6e6;
    border-radius: vw(30px);

    &::placeholder {
      color: #cccccc;
    }

    &:focus {
      outline: 0;
    }
  }

  .poc4v2-menulist-searchBlock__icon {
    cursor: pointer;
    position: absolute;
    top: 35%;
    right: 7%;
    width: vw(16px);
  }
}

// poc4v2-menulist-addDropdown
.poc4v2-menulist-addDropdown {
  $border-radius: vw(40px);

  margin-right: vw(30px);

  .Dropdown-control {
    transition: none;
    width: max-content;
    cursor: pointer;
    border: 0;
    background: linear-gradient(103deg, #ff4d2d 0%, #ffa382 100%);
    color: #ffffff;
    font-size: vw(21px);
    line-height: vw(25px);
    padding-top: vw(18px);
    padding-bottom: vw(18px);
    padding-left: vw(41px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    border-radius: $border-radius;
  }

  &.is-open .Dropdown-control {
    border-radius: $border-radius $border-radius 0 0;
    padding-left: vw(41px);
    background: linear-gradient(180deg, #ff4d2d 0%, #ffa382 100%);
  }

  &.is-open .Dropdown-control,
  .Dropdown-menu {
    width: vw(215px);
  }

  .Dropdown-menu {
    border: 0;
    border-top: vw(2px) solid #ffffff;
    padding: vw(10px) vw(25px);
    border-radius: 0 0 $border-radius $border-radius;
    margin-top: 0;
    top: vw(59px);
    background: linear-gradient(180deg, #ff4d2d 0%, #ffa382 100%);
    color: #ffffff;

    .Dropdown-option:last-child {
      border-bottom: 0;
    }
  }

  .Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 0;
  }

  .Dropdown-option {
    font-size: vw(21px);
    line-height: vw(31px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    background-color: transparent;
    color: #ffffff;
  }

  .Dropdown-option:hover,
  .Dropdown-option.is-selected {
    background-color: transparent;
    color: #ffffff;
  }

  .Dropdown-arrow {
    top: 41%;
    border-color: #ffffff transparent transparent;
    border-width: vw(8px) vw(8px) 0;
  }

  &.is-open .Dropdown-arrow {
    border-color: transparent transparent #ffffff !important;
    border-width: 0 vw(8px) vw(8px) !important;
  }
}

// poc4v2-menulist-addDropdown end
