/*=============================================
   All vendors => view vendor => menu add item
==============================================*/

.p4v2-add-menu-item-form {
  padding: vw(39px) vw(419px);

  .form-control {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: vw(15px);
  }
}

.p4v2-add-menu-item-form__title {
  font-size: vw(36px);
  line-height: vw(43px);
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  margin-bottom: vw(30px);
}

.p4v2-add-menu-item-form__block-title {
  font-size: vw(28px);
  line-height: vw(34px);
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
}

.p4v2-add-menu-item-form__mr-30 {
  margin-right: vw(30px);
}

.p4v2-add-menu-item-form__mb-30 {
  margin-bottom: vw(30px);
}

.p4v2-menu-slide-edit-btn--bg-orange {
  background-color: #f85032;
  color: #ffffff;
  box-shadow: 0 0 vw(20px) rgba(0, 0, 0, 0.05);
}

.input-container .img-box.img-box--addMenuItem {
  width: vw(60px);
}

.p4v2-add-menu-item-textarea {
  width: 100%;
  font-size: vw(21px);
  background-color: #fff !important;
  opacity: 1 !important;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: vw(30px);
  padding: vw(15px) vw(20px);
  color: #000000;
  margin-bottom: vw(15px);

  &::placeholder {
    color: #e6e6e6;
  }

  &.form-control:focus {
    box-shadow: 0 0 0;
    border-color: #e6e6e6;
  }
}

// poc4v2-menulist-foodServingTypeDropdown

.poc4v2-menulist-foodServingTypeDropdown {
  $border-radius: vw(40px);

  margin-right: 0;

  .Dropdown-control {
    transition: none;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    color: #000000;
    font-size: vw(21px);
    line-height: vw(25px);
    padding-top: vw(16px);
    padding-right: vw(41px);
    padding-bottom: vw(16px);
    padding-left: vw(30px);
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    border-radius: $border-radius;

    &:hover {
      box-shadow: 0 0 0;
    }
  }

  .Dropdown-control,
  .Dropdown-menu {
    width: 100%;
  }

  .Dropdown-menu {
    border: 1px solid #e6e6e6;
    padding: vw(10px) vw(15px);
    border-radius: $border-radius;
    margin-top: vw(10px);
    background: #ffffff;
    color: #000000;

    .Dropdown-option:last-child {
      border-bottom: 0;
      border-radius: vw(10px);
    }
  }

  .Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 0;
  }

  .Dropdown-option {
    font-size: vw(21px);
    line-height: vw(31px);
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    background-color: transparent;
    color: #000000;
    border-radius: vw(10px);
  }

  .Dropdown-option:hover {
    background-color: #fafafa;
    color: #000000;
  }

  .Dropdown-option.is-selected {
    background-color: #f85032;
    color: #ffffff;
  }

  .Dropdown-placeholder {
    color: #e6e6e6;

    &.is-selected {
      color: #000000;
    }
  }

  .Dropdown-arrow {
    top: 41%;
    border-color: #000000 transparent transparent;
    border-width: vw(8px) vw(8px) 0;
  }

  &.is-open .Dropdown-arrow {
    border-color: transparent transparent #000000 !important;
    border-width: 0 vw(8px) vw(8px) !important;
  }
}

// poc4v2-menulist-foodServingTypeDropdown end
