/***************************
    DASHBOARD OFFERS SCSS
***************************/
.main-offers-sectionone {
  .mylabel {
    display: none;
  }

  .main-offers-input {
    width: vw(387px);
    height: vw(60px);
    border-radius: vw(30px);

    ::placeholder {
      color: #ccc;
    }
  }

  .offers-image-class {
    width: vw(16px) !important;
    height: vw(16.57px) !important;
    top: vw(25px) !important;
    position: absolute !important;
    left: vw(345px) !important;
  }

  .main-offers-input:focus {
    outline: none;
    box-shadow: none;
  }
}

.main-offers-sectiontwo {
  padding-left: vw(141px);
  padding-right: vw(141px);

  .main-offers-inside {
    border-radius: vw(20px);
    background-color: #ffffff;
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.1);
    height: vw(162px);
    padding-top: vw(30px);
    padding-bottom: vw(30px);
    margin-bottom: vw(15px);

    .pending-review-image-main {
      width: vw(75px);
      height: vw(65px);

      .review-img {
        border-radius: vw(50px);
        width: vw(59px);
        height: vw(59px);
        border: vw(1px) solid rgba(0, 0, 0, 0.19);
      }

      .review-img:hover {
        -ms-transform: scale(3); /* IE 9 */
        -webkit-transform: scale(3); /* Safari 3-8 */
        transform: scale(3);
        transition: 1.5s;
        border: none !important;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85),
          0 0 7px 0 rgba(0, 0, 0, 0.25), inset 0 0 40px 0 rgba(0, 0, 0, 0.25);
        z-index: 999;
      }
    }

    .offers-images-photos {
      width: vw(103px);
      height: vw(103px);
      border-radius: vw(100px);
      margin-right: vw(30px);
    }

    .offers-images-photos:hover {
      -ms-transform: scale(2); /* IE 9 */
      -webkit-transform: scale(2); /* Safari 3-8 */
      transform: scale(2);
      transition: all 1s cubic-bezier(0.005, 1.65, 1, -0.6);
      transition-timing-function: cubic-bezier(0.005, 1.65, 1, -0.6);
      border: none !important;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85),
        0 0 7px 0 rgba(0, 0, 0, 0.25), inset 0 0 40px 0 rgba(0, 0, 0, 0.25);
      z-index: 999;
    }

    .offers-image-icon-button {
      margin-right: vw(20px);
    }
    .offers-image-icon-button:hover {
      -ms-transform: scale(1.3); /* IE 9 */
      -webkit-transform: scale(1.3); /* Safari 3-8 */
      transform: scale(1.3);
      transition: all 1s;
      //transition-timing-function: cubic-bezier(0.005, 1.65, 1, -0.6);
      border: none !important;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85),
        0 0 7px 0 rgba(0, 0, 0, 0.25), inset 0 0 40px 0 rgba(0, 0, 0, 0.25);
      z-index: 999;
    }

    // img {
    //   width: vw(103px);
    //   height: vw(103px);
    //   border-radius: vw(100px);
    //   margin-right: vw(30px);
    // }

    // img:hover {
    //   -ms-transform: scale(2); /* IE 9 */
    //   -webkit-transform: scale(2); /* Safari 3-8 */
    //   transform: scale(2);
    //   transition: all 1s cubic-bezier(0.005, 1.65, 1, -0.6);
    //   transition-timing-function: cubic-bezier(0.005, 1.65, 1, -0.6);
    //   border: none !important;
    //   box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85),
    //     0 0 7px 0 rgba(0, 0, 0, 0.25), inset 0 0 40px 0 rgba(0, 0, 0, 0.25);
    // }

    // .main-pending-review-image {
    //   width: vw(87px) !important;
    //   height: vw(87px) !important;
    //   margin-right: vw(20px) !important;
    // }

    .main_offer_description_divnew {
      overflow-x: auto;
      height: 4.5vh;
      padding: vw(4px) vw(0px);
      margin-bottom: vw(10px);
    }

    .main_offer_description_div {
      overflow-x: auto;
      height: 6vh;
      border: vw(1px) solid rgba(0, 0, 0, 0.16);
      border-radius: vw(6px);
      padding: vw(4px) vw(8px);
    }

    .main_offer_description_divnewone {
      overflow-x: auto;
      height: 10vh;
    }

    h3 {
      font-size: vw(28px);
      line-height: vw(34px);
      color: #000;
      font-family: AvenirLTStd-Black;
      margin-bottom: vw(10px);
    }

    h4 {
      font-size: vw(21px);
      line-height: vw(24px);
      color: #000;
      font-family: AvenirLTStd-Roman;
    }

    /****************
      right div
    ****************/
    .main-offers-sectiontwo-divone-hight {
      height: 11vh;
      overflow-x: auto;
    }
    .main-offers-sectiontwo-divone {
      border-left: vw(1px) solid #707070;

      h5 {
        font-size: vw(21px);
        line-height: vw(25px);
        color: #000;
        font-family: AvenirLTStd-Black;
        margin-bottom: vw(20px);
      }

      span {
        font-size: vw(21px);
        line-height: vw(25px);
        color: #000;
        font-family: AvenirLTStd-Medium;
      }

      p {
        font-size: vw(21px);
        line-height: vw(24px);
        color: #000;
        font-family: AvenirLTStd-Roman;
      }

      .couponcode_css {
        border: vw(1px) solid #ccc;
        border-radius: vw(20px);
        padding: vw(5px);
        text-align: center;
      }
    }

    .main-offers-sectiontwo-divtwo {
      border-left: vw(1px) solid #707070;
      padding-top: vw(10px);
      padding-bottom: vw(10px);

      img {
        width: vw(42px);
        height: vw(42px);
        box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.29);
        border-radius: vw(5px);
      }
    }
  }
}
