/**********************************
 * @DESC VENDOR ALL SMALL PAGES CSS
************************************/

/**********************************
 * @DESC VENDOR ADD MENU ITEM CSS
************************************/
.vendor-add-menu-item-main {
  display: flex;
  justify-content: center;

  .vendor-add-menu-sectionone {
    width: vw(586px);
  }
}

/**********************************
 * @DESC VENDOR ADD CATEGORY CSS
************************************/
.vendor-add-category-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  .vendor-add-category-sectionone {
    width: vw(586px);
  }
}

/**********************************
 * @DESC VENDOR EDIT MENU CSS
************************************/
.vendor-edit-menu-main {
  display: flex;
  justify-content: center;

  .vendor-edit-menu-sectionone {
    width: vw(586px);
  }
}

/**********************************
 * @DESC VENDOR CART CHECKOUT CSS
************************************/
.vendor-checkout-main {
  display: flex;
  justify-content: center;

  .vendor-checkout-sectionone {
    width: vw(586px);

    p {
      font-size: vw(23px);
      line-height: vw(28px);
      color: #000;
      font-family: AvenirLTStd-Black;
      text-transform: capitalize;

      span {
        font-size: vw(23px);
        line-height: vw(27px);
        color: #000;
        font-family: AvenirLTStd-Medium;
        text-transform: capitalize;
      }
    }
  }
}

/**********************************
 * @DESC VENDOR CART PAGE CSS
************************************/
.vendor-cart-main {
  margin: auto;

  h3 {
    font-size: vw(36px);
    line-height: vw(43px);
    color: #000;
    font-family: AvenirLTStd-Black;
    text-transform: capitalize;
    margin-top: vw(148px);
    margin-bottom: vw(41px);
  }

  .vendor-cart-price {
    margin-top: vw(45px);
    margin-bottom: vw(70px);
  }

  .vendor-cart-left {
    margin-left: vw(80px);
  }
  .vendor-cart-right {
    margin-left: vw(55px);
  }

  h5 {
    font-size: vw(23px);
    line-height: vw(28px);
    color: #000;
    font-family: AvenirLTStd-Black;
    text-transform: capitalize;

    span {
      font-size: vw(23px);
      line-height: vw(27px);
      color: #000;
      font-family: AvenirLTStd-medium;
      text-transform: capitalize;
    }
  }
}
