/***********************
    Vendor Menu Css
 ************************/
// table {
//   border-collapse: collapse;
//   border-radius: vw(5px);
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
//   overflow: hidden;
//   margin-bottom: vw(0px);
// }

/***********************
    Toggle Button Css
 ************************/
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #90ee90;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
