/***************************
    Vendor Place Order Css
 ***************************/

/***************************
    Add To Cart Button Css
 ***************************/

.btn-circle {
  border: none;
  background-color: #90ee90;
  width: vw(48px);
  height: vw(48px);
  padding: vw(13px) vw(0px);
  border-radius: vw(50px);
  text-align: center;
  font-size: vw(18px);
  line-height: 1.42857;
}
