/********************************
 * @DESC VENDOR OPEN ORDER CSS
********************************/

.vendor-open-order-sectionone {
  background-color: #fff;
  padding-top: vw(36px);
  padding-bottom: vw(36px);

  h4 {
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    margin-bottom: vw(20px);
  }

  .margin-vendor-operation {
    margin-top: vw(40px);
  }

  .button-group-new {
    width: vw(124px);
    height: vw(80px);
    font-family: AvenirLTStd-Medium;
    font-size: vw(28px);
    line-height: vw(34px);
    color: #000;
    background-color: #fafafa;
    border-radius: vw(40px);
  }

  .button-group-new:focus {
    outline: none;
    box-shadow: none;
  }

  .button-selected {
    background-color: #ffcf60;
    color: #fff;
  }

  .button-middle-line {
    border-left: vw(1px) solid #707070;
    height: vw(53px);
    z-index: 2;
    margin: vw(13px) vw(0px);
  }
}

.vendor-open-order-sectiontwo {
  .table {
    .table-header {
      font-size: vw(21px);
      line-height: vw(25px);
      color: #ffffff;
      font-family: AvenirLTStd-Medium;
      background-color: #f44940;
      border-top-left-radius: vw(5px);
      border-top-right-radius: vw(5px);
    }

    .table-main-headecss {
      .scope-css {
        font-size: vw(21px);
        line-height: vw(25px);
        color: #000;
        font-family: AvenirLTStd-Medium;
      }

      h3 {
        font-size: vw(21px);
        line-height: vw(25px);
        color: #000;
        font-family: AvenirLTStd-Black;
        text-transform: capitalize;
      }

      p {
        font-size: vw(18px);
        line-height: vw(22px);
        color: #000;
        font-family: AvenirLTStd-Medium;
        text-transform: capitalize;
        margin-bottom: vw(11px);
      }

      .message-icon {
        width: vw(25.67px);
        height: vw(19.53px);
      }

      .edit-icon {
        width: vw(16px);
        height: vw(16px);
      }

      .hand-icon {
        width: vw(24.72px);
        height: vw(22.21px);
      }
    }
  }
}
