/*========================================================
   All vendors => view vendor => menu add item form tags
=========================================================*/

.p4v2-text-tag,
.p4v2-icon-text-tag {
  margin-right: vw(15px);
  margin-bottom: vw(10px);
  background-color: transparent;
  //   padding: vw(30px) vw(50px);
  width: vw(248px);
  height: vw(90px);
  overflow: auto;
  border: 1px solid #cccccc;
  border-radius: vw(45px);
  font-size: vw(21px);
  font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
}

.p4v2-text-tag--active,
.p4v2-icon-text-tag--active {
  border: 1px solid #f85032;
}

.p4v2-tags-icon {
  width: vw(48px);
  margin-right: vw(20px);
  margin-left: vw(10px);
}

.p4v2-icon-text-tag {
  text-align: left;
}

.p4v2-timing-table-border-bottom {
  td {
    padding-top: vw(25px);
    padding-bottom: vw(25px);
  }
  border-bottom: vw(2px) solid #cccccc;
}

.Selection_box.Selection_box--p4v2 {
  background-color: transparent;
  font-size: vw(18px);
  width: vw(109px);
  height: vw(60px);
  margin-top: vw(10px);
}

.opening_time_selector.opening_time_selector--p4v2 {
  justify-content: flex-start;
}

.p4v2-yes-multiple-td {
  width: vw(200px);
  padding-left: vw(20px);
  padding: vw(15px);
}

.Selection_box:disabled {
  color: #cccccc !important;
}
