/*==========================================================
   All vendors => view vendor => menu select input dropdown
============================================================*/

.main-dropdown-class {
  background: transparent;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: vw(15px);

  .dropdown-container-fluid {
    background-color: #ffffff;
    padding: vw(50px) vw(141px);
  }

  .fa-sort-down {
    cursor: pointer;
    font-size: vw(24px) !important;
    font-weight: 500;
    font-family: "fontawesome";
    position: absolute;
    right: vw(18px);
    top: vw(12px);
    bottom: 0;
    color: #000000;
  }

  .dropdown-input-class {
    width: 100%;
    height: vw(60px);
    border-radius: vw(30px);
    padding: vw(5px) vw(43px) vw(5px) vw(20px);
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    font-size: vw(21px);
    outline: none;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    color: #000000;
    margin-bottom: 0 !important;

    ::placeholder {
      font-size: vw(21px);
      font-family: AvenirLTStd-Book, sans-serif, Helvetica;
      color: #000000;
    }
  }

  .dropdown-ul {
    max-height: vw(190px);
    overflow: auto;
    list-style: none;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    margin: 0;
    margin-top: vw(5px);
    padding: vw(10px);
    border-radius: vw(30px);
    z-index: 99;
    position: absolute;
    width: 100%;
  }

  .dropdown-li,
  .dropdown-li_selected {
    font-size: vw(21px);
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    padding: vw(10px) vw(15px);
    border-radius: vw(10px);
  }

  .dropdown-li {
    &:hover {
      background: #fafafa;
    }
  }

  .dropdown-li_selected {
    color: #ffffff;
    background: #f85032;
  }
}
