/*=======================================================
   All vendors => view vendor => menu pagination
========================================================*/

.p4v2-menu-pagination {
  margin-top: vw(60px);
  margin-bottom: vw(30px);
  width: 100%;

  .rc-pagination {
    width: 100%;
    font-size: vw(21px);
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rc-pagination-item {
    border-radius: 50%;
    padding: 0;
    border: 0;
    margin-right: vw(30px);
    min-width: vw(40px);
    height: vw(40px);
    line-height: vw(41px);
    color: #000000;
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    background-color: transparent;
  }

  .rc-pagination-item-active {
    background-color: #ff4d2d;
    color: #ffffff;
  }

  .rc-pagination-item.rc-pagination-item-active:hover a {
    color: #ffffff;
  }

  .rc-pagination-item:hover a {
    color: #ff4d2d;
  }

  .rc-pagination-jump-prev:hover:after,
  .rc-pagination-jump-next:hover:after {
    color: #ff4d2d;
  }

  .rc-pagination-item:focus,
  .rc-pagination-prev:focus,
  .rc-pagination-next:focus,
  .rc-pagination-jump-prev:focus,
  .rc-pagination-jump-next:focus {
    outline: 0;
  }

  .rc-pagination-prev,
  .rc-pagination-next,
  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    border: 0;
    font-size: vw(24px);
    line-height: vw(41px);
    min-width: vw(40px);
    height: vw(40px);
    margin-right: vw(30px);
  }

  .rc-pagination-jump-prev:after,
  .rc-pagination-jump-next:after {
    font-size: vw(24px);
  }

  .rc-pagination-prev a,
  .rc-pagination-next a {
    color: #303030 !important;
  }
}
