/*=======================================================
   All vendors => view vendor => menu list table
========================================================*/

.cursor-pointer {
  cursor: pointer;
}

.p4v2-menulist-table {
  $table-border-radius: vw(40px);

  border-radius: $table-border-radius !important;
  box-shadow: 0 0 vw(20px) rgba(0, 0, 0, 0.1);
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;

  thead {
    background: linear-gradient(94deg, #ff4d2d 0%, #ffa382 100%);
    color: #ffffff;
  }

  th,
  td {
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    padding: vw(30px) vw(20px) vw(25px) vw(25px);
  }

  tbody tr:nth-child(even) {
    background: #ffffff;
  }

  tbody tr:nth-child(odd) {
    background: #fafafa;
  }

  thead tr:first-child th:first-child {
    border-top-left-radius: $table-border-radius;
  }

  thead tr:first-child th:last-child {
    border-top-right-radius: $table-border-radius;
  }

  tbody tr:last-child td:first-child {
    border-bottom-left-radius: $table-border-radius;
  }

  tbody tr:last-child td:last-child {
    border-bottom-right-radius: $table-border-radius;
  }
}

.p4v2-menu-table-food-img {
  width: vw(60px);
  margin-right: vw(30px);
}

.p4v2-menu-table-icons1,
.p4v2-menu-table-icons2 {
  margin-top: vw(5px);
  margin-bottom: vw(5px);
  margin-right: vw(22px);
}

.p4v2-menu-table-icons1 {
  width: vw(25px);
}

.p4v2-menu-table-icons2 {
  width: vw(30px);
}

.p4v2-menu-table-icons3-shadow {
  width: vw(42px);
  border-radius: vw(5px);
  box-shadow: 0 vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
}

// poc4v2-menulist-categoryDropdown

.poc4v2-menulist-categoryDropdown {
  $border-radius: vw(40px);

  margin-right: vw(30px);

  .Dropdown-control {
    transition: none;
    cursor: pointer;
    border: 0;
    background: transparent;
    color: #ffffff;
    font-size: vw(21px);
    line-height: vw(25px);
    padding-top: vw(18px);
    padding-right: vw(41px);
    padding-bottom: vw(18px);
    padding-left: vw(30px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    border-radius: $border-radius;

    &:hover {
      box-shadow: 0 0 0;
    }
  }

  .Dropdown-control,
  .Dropdown-menu {
    width: max-content;
  }

  .Dropdown-menu {
    border: 0;
    padding: vw(10px) vw(25px);
    border-radius: 0 0 $border-radius $border-radius;
    margin-top: 0;
    top: vw(59px);
    background: linear-gradient(180deg, #ff4d2d 0%, #ffa382 100%);
    color: #ffffff;

    .Dropdown-option:last-child {
      border-bottom: 0;
    }
  }

  .Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 0;
  }

  .Dropdown-option {
    font-size: vw(21px);
    line-height: vw(31px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    background-color: transparent;
    color: #ffffff;
  }

  .Dropdown-option:hover,
  .Dropdown-option.is-selected {
    background-color: transparent;
    color: #ffffff;
  }

  .Dropdown-arrow {
    top: 41%;
    border-color: #ffffff transparent transparent;
    border-width: vw(8px) vw(8px) 0;
  }

  &.is-open .Dropdown-arrow {
    border-color: transparent transparent #ffffff !important;
    border-width: 0 vw(8px) vw(8px) !important;
  }
}

// poc4v2-menulist-categoryDropdown end
