/*================================================
   All vendors => view vendor => menu slide block
=================================================*/

.p4v2-right-slide-block-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  background: rgba(112, 112, 112, 0.1);
  user-select: none;
  overflow: hidden;
}

.p4v2-right-slide-block {
  width: vw(836px);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: auto;
  z-index: 111;
  padding: vw(30px);
}

.p4v2-menu-slide-overflow-div {
  // height: 45vh;
  height: calc(100vh - 26vw);
  overflow: auto;
}

.p4v2-menu-slide-icon-close {
  width: vw(27px);
  position: absolute;
  top: vw(25px);
  right: vw(25px);
  z-index: 111;
  cursor: pointer;
}

.p4v2-right-slide-block__table1 {
  align-items: center;
  padding-bottom: vw(30px);
  border-bottom: vw(3px) solid #e6e6e6;
}

.p4v2-right-slide-block__table1-img {
  width: 100%;
  height: auto;
  margin-right: vw(30px);
}

.p4v2-right-slide-block__table1-title {
  font-size: vw(28px);
  line-height: vw(34px);
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  margin-bottom: vw(20px);
}

.p4v2-right-slide-block__table1-title-medium {
  font-size: vw(28px);
  line-height: vw(34px);
  font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  margin-bottom: vw(20px);
}

// content 2
.p4v2-right-slide-block-content2 {
  padding-top: vw(30px);
  border-bottom: vw(3px) solid #e6e6e6;
}

.p4v2-right-slide-block-content2-desc {
  font-size: vw(24px);
  line-height: vw(28px);
  font-family: AvenirLTStd-Light, sans-serif, Helvetica;
  margin-bottom: vw(30px);
}

// content 3
.p4v2-right-slide-block-content3 {
  padding-top: vw(30px);
  padding-bottom: vw(10px);
  border-bottom: vw(3px) solid #e6e6e6;
}

.toggle--p4v2-right-slide-block {
  font-size: vw(28px);
  line-height: vw(34px);
}

.p4v2-right-slide-block-pb {
  padding-bottom: vw(10px);
}

// content 4
.p4v2-right-slide-block-content4-table {
  border-radius: 0;
  width: 100%;

  th,
  td {
    font-size: vw(21px);
    line-height: vw(25px);
    width: 50%;
  }

  th {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    padding-top: vw(10px);
    padding-bottom: vw(15px);
  }

  td {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    padding-bottom: vw(15px);
  }
}

// content 5
.p4v2-right-slide-block-content5 {
  padding-top: vw(30px);
  border-bottom: vw(3px) solid #e6e6e6;
}

.p4v2-right-slide-block__table1-title-medium-mb-30 {
  font-size: vw(28px);
  line-height: vw(34px);
  font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  margin-bottom: vw(30px);
}

// content 6
.p4v2-right-slide-block-content6 {
  padding-top: vw(30px);
  padding-bottom: vw(10px);
}

.p4v2-menu-slide-edit-btn {
  font-size: vw(21px);
  font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  width: vw(248px);
  height: vw(60px);
  border: vw(2px) solid #f85032;
  border-radius: vw(30px);
  color: #f85032;
  background-color: #ffffff;
  margin-top: vw(10px);
}
