/*================================================
   All vendors => view vendor => menu tabs
=================================================*/

.p4v2-menu-block-view-tabs {
  width: 100%;
  .rwt__tablist {
    padding: 0;
    box-shadow: 0 0 0;

    button {
      font-size: vw(24px);
      line-height: vw(29px);
      padding: 0 vw(57px) 0 0;
      border: transparent;
      background-color: transparent;
      font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    }

    button[aria-selected="true"] {
      font-size: vw(24px);
      line-height: vw(29px);
      font-weight: 700;
      font-family: AvenirLTStd-Black, sans-serif, Helvetica;

      &::after {
        content: "";
        width: vw(45px);
        height: vw(6px);
        background: #f85032;
        display: block;
        margin-top: vw(3px);
      }
    }
  }

  .rwt__tabpanel {
    padding: vw(60px) 0 0 0;
  }
}
