/*===================================================================
   All vendors => view vendor => menu add item block view category
=====================================================================*/

.p4v2-categories-block-view {
  width: vw(526px);
  height: vw(314px);
  background: #ffffff;
  box-shadow: 0 0 vw(30px) rgba(0, 0, 0, 0.1);
  border-radius: vw(15px);
  padding: vw(30px);
  margin-right: vw(30px);
  margin-bottom: vw(30px);
}

.p4v2-categories-block-view__icon {
  width: vw(30px);
}

.p4v2-categories-edit-block-view__icon {
  width: vw(42px);
}

.p4v2-categories-block-view__titleblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: vw(2px) solid #e6e6e6;
  padding-bottom: vw(20px);
  margin-bottom: vw(10px);
}

.p4v2-categories-block-view__lastblock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.p4v2-categories-block-view__lastblock-mr {
  margin-right: vw(104px);
}
