/*****************************
 * @DESC ALL USERS CSS
 *****************************/

.user-details-main {
  background-color: #fcfcfc;
  box-shadow: 0px 0px vw(20px) #0000000d;

  .back-button {
    margin-left: vw(10px);
  }

  h4,
  h5 {
    color: #000000;
    font-family: AvenirLTStd-Black;
  }
  h4 {
    font-size: vw(28px);
  }

  h5 {
    font-size: vw(18px);
  }
  p {
    font-family: AvenirLTStd-Medium;
    font-size: vw(18px);
  }
  .user-detail-top {
    height: vw(140px);
    .link-css {
      color: #000000;
      text-decoration: none;

      .link-text {
        font-size: vw(18px);
        font-family: AvenirLTStd-Medium;
      }
    }
    .userDetail-topPopup {
      .user-logo-img {
        width: vw(42px);
        height: vw(42px);
        margin-right: vw(20px);
        border-radius: vw(5px);
        box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
      }
    }
  }
}

/************************
** USER_VIEW_SEATING_ROW
*************************/
.user-view-seating-row {
  p {
    font-size: vw(15px);
    color: #000000;
    font-family: AvenirLTStd-Medium;
  }
  .bold-text {
    font-size: vw(18px);
    font-family: AvenirLTStd-Black;
    color: #000000;
  }

  .edit-view-page-icons {
    .icon-image {
      width: 60%;
      box-shadow: 0px vw(3px) vw(6px) #00000029;
    }
  }
  .dropdown-seating-view {
    border: none;
    width: 85% !important;
    color: #000000;
    font-size: vw(21px);
    font-family: AvenirLTStd-Medium;
    padding: 0px;
    background-color: transparent;
  }
}

/*****************************
*ALL USERS NAVIGATION CSS
*****************************/

.main-navigation-all-users {
  margin-top: 1%;
  .nav-links {
    list-style: none;
    // margin-left: 20px;
    display: flex;
    justify-content: center;

    li {
      display: inline;
      padding: vw(0px) vw(28px);
      cursor: pointer;

      .headertext {
        font-size: vw(21px);
        line-height: vw(24px);
        color: #000;
        font-family: AvenirLTStd-Roman;
      }

      .active-headertext {
        font-family: AvenirLTStd-Black;
      }

      .active-headertext:before {
        content: " ";
        position: relative;
        display: flex;
        background-color: #ff4d2d;
        border: vw(2px) solid #ff4d2d;
        top: vw(27px);
      }
    }
  }
}

/*****************************
** SEATING TABLE VIEW ICON
*****************************/

.seating-view-icon-main {
  padding-bottom: vw(50px);
  h1 {
    font-size: vw(36px);
    color: #000000;
    font-family: AvenirLTStd-Black;
  }

  h2 {
    font-size: vw(21px);
    font-family: AvenirLTStd-Black;
    color: #000000;
  }

  p {
    font-size: vw(21px);
    font-family: AvenirLTStd-Medium;
    color: #000000;
  }

  .navigation-button {
    img {
      width: 1%;
    }
    .link-text {
      font-size: vw(18px);
      font-family: AvenirLTStd-Medium;
      color: #000000;
    }
    .link-css {
      text-decoration: none;
    }
  }

  .user-details-part,
  .user-top-order,
  .edit-log-part {
    box-shadow: 0px 0px vw(20px) #00000019;
    padding: vw(30px);
    border-radius: vw(40px);
    background-color: #ffffff;
  }

  .user-top-order {
    .selectpicker {
      background-color: transparent;
      border: none;
      font-size: vw(21px);
      font-family: AvenirLTStd-Medium;
    }
  }
  span {
    font-size: vw(21px);
    font-family: AvenirLTStd-Black;
    color: #000000;
  }

  .square-img {
    width: vw(42px);
    height: vw(42px);
    margin-right: vw(20px);
    border-radius: vw(5px);
    box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
  }

  .bottom-header-part {
    background-color: #f7f7f7;
    height: vw(90px);
    border-radius: vw(20px);
  }

  .padding-inside {
    padding: vw(5px);
  }
}
