/*******************************
    Sub Navbar Component css
********************************/
.sub-navbar {
  width: 100%;
  height: 18vh;
  padding-top: vw(30px);
  padding-left: vw(206px);
  padding-right: vw(206px);
  box-shadow: vw(0px) vw(0px) vw(20px) #0000000d;

  .seating-button-padding {
    padding-top: vw(30px);

    .seating-buttons:focus {
      outline: none !important;
      box-shadow: none !important;
    }

    .seating-buttons {
      width: vw(80px);
      height: vw(80px);
      color: #000;
      border: vw(1px) solid #000;
      border-radius: vw(50px);
      margin-right: vw(30px);
    }
    .active-seating-buttons {
      color: #fff;
      background-color: #57b6ff;
      border: none;
    }
  }

  h5 {
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    margin-bottom: vw(12px);
  }

  span {
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    color: #808080;
  }

  .wait-time-button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .wait-time-button {
    width: vw(90px);
    height: vw(80px);
    background-color: #fafafa;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
  }

  .active-wait-time-button {
    color: #fff;
    background-color: #ffcf60;
  }

  .wait-time-button:first-child {
    border-top-left-radius: vw(40px);
    border-bottom-left-radius: vw(40px);
  }

  .wait-time-button:last-child {
    border-top-right-radius: vw(40px);
    border-bottom-right-radius: vw(40px);
  }
}

/*******************************
    Mini Navbar Component css
********************************/
.mini-navbar {
  padding-left: vw(141px);
  padding-right: vw(141px);
  .search-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;

    h5 {
      font-size: vw(36px);
      line-height: vw(43px);
      font-family: AvenirLTStd-Black;
      color: #000;
    }
    .search-button-div {
      display: flex;
      justify-content: space-between;
      // width: 33%;
      .input-search-css {
        position: relative;

        .search-img {
          position: absolute;
          width: vw(16px);
          height: vw(16.57px);
          top: 40%;
          left: 82%;
        }
        .pocfirst-custom-input:focus {
          outline: none !important;
          box-shadow: none !important;
        }
        .pocfirst-custom-input {
          width: vw(248px);
          height: vw(60px);
          font-size: vw(21px);
          line-height: vw(25px);
          font-family: AvenirLTStd-Medium;
          border: vw(1px) solid #e6e6e6;
          border-radius: vw(30px);
        }
        ::placeholder {
          color: #cccccc;
        }
      }
    }
  }
}

/*******************************
    Seating Table Component css
********************************/
.seating-container {
  // padding-left: vw(141px);
  // padding-right: vw(141px);

  .seating-table {
    border-radius: vw(40px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    // overflow: hidden;
    // margin-bottom: vw(0px);
    overflow-y: hidden;
  }

  .seating-table-head-class {
    height: vw(80px);
    // background-image: linear-gradient(to right, #ff4d2d, #ffa382);
    background-color: #f44940;

    th {
      font-size: vw(21px);
      font-family: AvenirLTStd-Medium;
      color: #fff;
      vertical-align: middle !important;
      border: none !important;
    }
  }

  .seating-table-body-class {
    height: auto;
    td {
      font-size: vw(21px);
      font-family: AvenirLTStd-Medium;
      color: #000;
    }
    .seating-logo-img {
      width: vw(42px);
      height: vw(42px);
      margin-right: vw(20px);
      border-radius: vw(5px);
      box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
    }
    .ordertype-img {
      width: vw(22.64px);
      height: vw(28px);
    }
    .edit-img {
      width: vw(18px);
      height: vw(18px);
      margin-left: vw(50px);
    }

    .bold-font {
      font-family: AvenirLTStd-Black;
    }
    .green-box {
      width: vw(109px);
      height: vw(55px);
      text-align: center;
      font-family: AvenirLTStd-Roman;
      font-size: vw(18px);
      line-height: vw(22px);
      background-color: #74ff57;
      border-radius: vw(10px);
      padding: vw(5px);
    }
  }
}

/*******************************
    Pending Table Component css
********************************/
.pending-container {
  padding-left: vw(141px);
  padding-right: vw(141px);

  .pending-table {
    border-radius: vw(40px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    // overflow: hidden;
    // margin-bottom: vw(0px);
    // overflow-y: hidden;
  }

  .pending-table-head-class {
    height: vw(80px);
    background-image: linear-gradient(to right, #ff4d2d, #ffa382);

    .table-head-left-top-border-radius {
      border-top-left-radius: vw(40px);
    }

    .table-head-right-top-border-radius {
      border-top-right-radius: vw(40px);
    }

    th {
      font-size: vw(21px);
      font-family: AvenirLTStd-Medium;
      color: #fff;
      vertical-align: middle !important;
      border: none !important;
    }
  }

  .pending-table-body-class {
    height: auto;
    td {
      font-size: vw(21px);
      font-family: AvenirLTStd-Medium;
      color: #000;
    }
    .seating-logo-img {
      width: vw(42px);
      height: vw(42px);
      margin-right: vw(20px);
      border-radius: vw(5px);
      box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
    }
    .ordertype-img {
      width: vw(22.64px);
      height: vw(28px);
    }

    .bold-font {
      font-family: AvenirLTStd-Black;
    }
  }
}

/*******************************
    History Table Component css
********************************/

.history-container {
  // padding-left: vw(141px);
  // padding-right: vw(141px);

  .history-table {
    border-radius: vw(40px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    // overflow: hidden;
    // margin-bottom: vw(0px);
    overflow-y: hidden;
  }

  .history-table-head-class {
    height: vw(80px);
    background-image: linear-gradient(to right, #ff4d2d, #ffa382);

    th {
      font-size: vw(21px);
      font-family: AvenirLTStd-Medium;
      color: #fff;
      vertical-align: middle !important;
      border: none !important;
    }
  }

  .history-table-body-class {
    height: auto;
    td {
      font-size: vw(21px);
      font-family: AvenirLTStd-Medium;
      color: #000;
    }
    .seating-logo-img {
      width: vw(42px);
      height: vw(42px);
      margin-right: vw(20px);
      border-radius: vw(5px);
      box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
    }
    .ordertype-img {
      width: vw(22.64px);
      height: vw(28px);
    }

    .bold-font {
      font-family: AvenirLTStd-Black;
    }
  }
}

/***************************************
        Show All Button Component CSS
****************************************/

.showallbutton-container {
  // height: 12vh;
  // box-shadow: vw(0px) vw(10px) vw(10px) #0000000d;

  .showall-button:focus {
    outline: none;
    box-shadow: none;
  }

  .showall-button {
    width: vw(248px);
    height: vw(60px);
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    border-radius: vw(30px);
    border: vw(1px) solid #000;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }
  .active-showall-button {
    border: none;
    background-color: #57b6ff;
    color: #fff;
  }
}

/*****************************************
       Customize DropDown CSS
******************************************/

.dropdown {
  position: relative;
  &.open > .dropdown-menu {
    display: block;
  }
  .dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
  }
  .dropdown-toggle {
    font-family: AvenirLTStd-Medium;
    padding: vw(12px) vw(0px);
    font-size: vw(21px);
    line-height: vw(25px);
    text-align: center;
    cursor: pointer;
    color: #000000;
    background-color: transparent;
    border: none;
  }

  .dropdown-menu {
    position: absolute;
    top: 87%;
    left: -2%;
    display: none;
    min-width: vw(200px);
    background-color: #ffffff;
    border: none;
    border-radius: vw(20px);
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;

    li {
      cursor: pointer;
      :hover {
        background: #ddd;
      }
      & > a {
        display: block;
        padding: vw(5px) vw(20px);
        clear: both;
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-Medium;
        color: #000;
        // border-bottom: vw(1px) solid #E6E6E6;
        white-space: nowrap;
        text-decoration: none;
      }
    }
  }
}

/*****************************************
       Normal DropDown CSS
******************************************/

.select-class:focus {
  outline: none;
  box-shadow: none;
}
.select-class {
  border: none;
  background: transparent;
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  color: #000;
  padding: vw(0px);
}

/*******************************
        PAGINATION CSS
********************************/

.pagination-section {
  display: flex;
  justify-content: center;
  margin-top: vw(60px);
  margin-bottom: vw(60px);

  #page-list {
    .pagination {
      .page-item {
        .fa {
          margin: vw(0px) vw(40px);
        }

        .page-link {
          font-size: vw(21px);
          font-family: AvenirLTStd-Roman;
          color: black;
          width: vw(40px);
          height: vw(40px);
          border-radius: vw(40px);
          margin-right: vw(12px);
          padding: vw(6px) vw(7px);
          text-decoration: none;
          border: none;
        }

        .active-page-link {
          font-size: vw(21px);
          font-family: AvenirLTStd-Roman;
          display: initial;
          width: vw(40px);
          height: vw(40px);
          color: #fff;
          border: none;
          background-color: #ff4d2d;
          border-radius: vw(40px);
          margin-right: vw(12px);
          padding: vw(6px) vw(7px);
        }
        a:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

/*****************************************
        All Seat Details Text CSS
******************************************/
.largetext {
  font-size: vw(36px);
  line-height: vw(43px);
  font-family: AvenirLTStd-Black;
  color: #000;
  // margin-bottom: vw(30px);
}
.boldtext {
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Black;
  color: #000;
  margin-bottom: vw(16px);
}
.normaltext {
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  color: #000;
  margin-bottom: vw(16px);
  width: vw(175px);
}
.normaltextone {
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  color: #000;
  margin-bottom: vw(16px);
}

/*****************************************
        All Seat Details Component CSS
******************************************/

.allseat-container {
  padding-top: vw(30px);
  padding-bottom: vw(30px);
  padding-left: vw(141px);
  padding-right: vw(141px);

  .top-row-class {
    width: 100%;
    height: auto;
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
    border-radius: vw(40px);
    margin-bottom: vw(20px);

    .newdiv {
      .details-logo-img {
        width: vw(42px);
        height: vw(42px);
        border-radius: vw(5px);
        box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
      }
    }

    .div1 {
      border-right: vw(1px) solid #707070;

      .order-type-div {
        display: flex;
        .walk-in-img {
          width: vw(14.64px);
          height: vw(28px);
          margin-left: vw(30px);
        }
      }
      .edit-img {
        width: vw(18px);
        height: vw(18px);
        margin-left: vw(30px);
      }
    }
    .div2 {
      padding-left: vw(0px);
      padding-right: vw(0px);
      .details-logo-img {
        width: vw(42px);
        height: vw(42px);
        margin-left: vw(20px);
        border-radius: vw(5px);
        box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
      }
    }
  }
  .middle-row-class {
    width: 100%;
    height: auto;
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
    border-radius: vw(40px);
    margin-bottom: vw(30px);
    hr {
      margin-top: vw(10px);
      margin-bottom: vw(15px);
    }
  }
  .bottom-row-class {
    width: 100%;
    height: auto;
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
    border-radius: vw(40px);
    hr {
      margin-top: vw(10px);
      margin-bottom: vw(15px);
    }
  }
}

/*****************************************
        All Seat Table Component CSS
******************************************/
.edit-log-table {
  border-collapse: separate;
  border-spacing: vw(0px) vw(12px);
  margin-bottom: vw(0px);
  .all-seat-table-head-class {
    border: none !important;
    th {
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
      color: #000;
    }
  }
  .all-seat-table-body-class {
    height: vw(90px);
    background-color: #f7f7f7;
    border-radius: vw(20px);

    td {
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium;
      color: #000;
      vertical-align: middle !important;
      border: none !important;
    }
    td:first-child {
      border-top-left-radius: vw(20px);
      border-bottom-left-radius: vw(20px);
    }
    td:last-child {
      border-top-right-radius: vw(20px);
      border-bottom-right-radius: vw(20px);
    }
  }
}

/****************************************
        All PopUp Components CSS
*****************************************/

/*************** Send SMS Pop Up **************/
.sendsms-Modal {
  width: 50%;
  height: auto;
  top: 20%;
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  padding: vw(0px);
}
.customOverlay {
  background: rgba(112, 112, 112, 0.2);
}

.customCloseButton {
  display: none;
}
.sms-popup {
  .popup-head {
    width: 100%;
    height: auto;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    padding: vw(30px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
  }
  .text {
    margin: vw(30px);
    padding: vw(30px);
    border-radius: vw(20px);
    background-color: #f7f7f7;
    p {
      font-size: vw(28px);
      line-height: vw(34px);
      font-family: AvenirLTStd-Book;
      color: #000;
      margin-bottom: vw(40px);
    }
    span {
      font-size: vw(28px);
      line-height: vw(34px);
      font-family: AvenirLTStd-Book;
      color: #000;
    }
  }
  .button-div {
    float: right;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }
}

/*************** Ocassion Pop Up **************/
.ocassion-Modal {
  width: 30%;
  height: auto;
  align-self: center;
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  padding: vw(0px);
}

.ocassion-popup {
  .popup-head {
    width: 100%;
    height: auto;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    padding: vw(30px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
  }
  .text {
    padding: vw(30px);

    p {
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Book;
      color: #000;
      margin-bottom: vw(40px);
    }
  }
  .button-div {
    float: right;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }
}

.open-issues-model-popup-body {
  .open-issues-model-popup-head {
    width: 100%;
    height: vw(83px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: vw(22px);
    position: relative;

    .open-issues-popup-close {
      width: vw(55px);
      height: vw(55px);
      position: absolute;
      left: 3%;
      box-shadow: vw(0px) vw(10px) vw(20px) rgba(0, 0, 0, 0.26);
      border-radius: vw(50px);
      cursor: pointer;
    }

    h4 {
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
      color: #fff;
    }
  }

  .open-issues-modal-body {
    width: 100%;
    padding: vw(22px);
    height: auto;

    p {
      font-size: vw(20px);
      line-height: vw(19px);
      font-family: AvenirLTStd-Medium;
      color: rgba(0, 0, 0, 0.75);
    }

    .open-issues-modal-body-occasion {
      height: vw(155px);
      width: 100%;
      padding: vw(30px) vw(16px);
      overflow-x: hidden;
      border: vw(1px) solid #cccccc;
      border-radius: vw(30px);
      margin-top: vw(10px);

      p {
        font-size: vw(20px);
        line-height: vw(26px);
        font-family: AvenirLTStd-Medium;
        color: rgba(0, 0, 0, 0.45);
      }
    }

    .open-issues-modal-body-occasion:focus {
      outline: none;
      box-shadow: none;
    }

    .phone-open-issues-modal {
      width: vw(118px);
      height: vw(118px);
      border-radius: vw(100px);
    }

    h2 {
      font-size: vw(36px);
      line-height: vw(43px);
      font-family: AvenirLTStd-Black;
    }

    span {
      font-size: vw(21px);
      line-height: vw(24px);
      font-family: AvenirLTStd-Medium;
      color: rgba(0, 0, 0, 0.75);
      margin-top: vw(15px);
      margin-bottom: vw(15px);
    }

    .button-green {
      background-color: #68f24b;
      border: vw(1px) solid #68f24b;
      color: #ffffff;
    }
  }
}

/*************** Edit Diner Pop Up **************/
.edit-diner-Modal {
  width: vw(864px);
  height: auto;
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  padding: vw(0px);
}
.edit-diner-popup {
  .popup-head {
    width: 100%;
    height: auto;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    padding: vw(30px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
  }
  .button-div {
    float: right;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }
  .password_change_sty {
    width: 92%;
  }
}

/*************** Add Diner Pop Up **************/
.add-diner-Modal {
  width: vw(864px);
  height: auto;
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  padding: vw(0px);
}
.add-diner-popup {
  .popup-head {
    width: 100%;
    height: auto;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    padding: vw(30px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
  }
  .button-div {
    float: right;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }
}
/*************** Add Reservation Pop Up **************/
.add-reservation-Modal {
  width: vw(864px);
  height: auto;
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  padding: vw(0px);
}

.add-image-modal-popup {
  padding: vw(10px);

  .closed-button {
    position: absolute;
    top: 0;
    border-radius: vw(100px);
    background-color: transparent;
    padding: 0;

    .closed-button-font-image {
      font-size: vw(40px);
    }
  }
}

.new-popup-datacss {
  position: absolute;
  top: vw(102px) !important;
  right: 0;
  background-color: #fff;
  border-radius: vw(50px);
}

.add-reservation-popup {
  .popup-head {
    width: 100%;
    height: auto;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    padding: vw(30px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
  }
  .button-div {
    float: right;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }
}

/*************** Cancel Reservation Pop Up **************/
.cancel-reservation-Modal {
  width: vw(864px);
  height: auto;
  top: 10%;
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  padding: vw(0px);
}
.cancel-reservation-popup {
  .popup-head {
    width: 100%;
    height: auto;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    padding: vw(30px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
  }
  .button-div {
    float: right;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }
}

/*************** Location Pop Up **************/

.location-Modal {
  width: 72% !important;
  height: 100vh;
  // height: vw(1012px);
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  padding: vw(0px);
}
.location-popup {
  .popup-head {
    width: 100%;
    height: auto;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    padding: vw(30px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
  }
  .location-div {
    padding: vw(30px);

    .size-18-black {
      font-size: vw(18px);
      line-height: vw(22px);
      font-family: AvenirLTStd-Black;
      margin-bottom: vw(9px);
    }
    .size-18-medium {
      font-size: vw(18px);
      line-height: vw(22px);
      font-family: AvenirLTStd-Medium;
    }
    .size-28-black {
      font-size: vw(28px);
      line-height: vw(34px);
      font-family: AvenirLTStd-Black;
    }
    .seating-logo-img {
      width: vw(42px);
      height: vw(42px);
      margin-right: vw(20px);
      border-radius: vw(5px);
      box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
    }
    .map-div {
      margin-top: vw(27px);
      border-radius: vw(30px);
      overflow: hidden;
    }
  }
  .button-div {
    float: right;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }
}

/*************** Wait Time Pop Up **************/
.waittime-Modal {
  width: vw(864px) !important;
  height: auto;
  top: 25%;
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  padding: vw(0px);
}
.waittime-popup {
  .popup-head {
    width: 100%;
    height: auto;
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    padding: vw(30px);
    background-color: #f85032;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
  }
  .wait-time-button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .wait-time-button {
    width: vw(90px);
    height: vw(80px);
    background-color: #fafafa;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
  }

  .active-wait-time-button {
    color: #fff;
    background-color: #ffcf60;
  }

  .wait-time-button:first-child {
    border-top-left-radius: vw(40px);
    border-bottom-left-radius: vw(40px);
  }

  .wait-time-button:last-child {
    border-top-right-radius: vw(40px);
    border-bottom-right-radius: vw(40px);
  }
  .button-div {
    float: right;
    margin-right: vw(30px);
    margin-bottom: vw(30px);
  }

  .inside-accept-reservation-text {
    font-size: vw(24px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Book;
  }
}

/****************************************
        Small Reusable Components CSS
*****************************************/

/*************** Button Component **************/

.button-width:focus {
  outline: none;
  box-shadow: none;
}
.button-width {
  width: vw(248px);
  height: vw(60px);
  border-radius: vw(30px);
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  text-transform: capitalize;
}
.button-orange {
  background-color: #f85032;
  color: #fff !important;
  margin-left: vw(30px);
}
.button-border-orange {
  background-color: #fff;
  border: vw(1px) solid #f85032;
  color: #f85032 !important;
}
.button-red {
  background-color: #ff5757;
  color: #fff !important;
}
.button-gradient {
  // background-image: linear-gradient(to right, #ff4d2d, #ffa382);
  background-color: #f44940;
  color: #fff !important;
  margin-right: vw(30px);
}

.reservation-button:focus {
  outline: none;
  box-shadow: none;
}
.reservation-button {
  width: vw(195px);
  height: vw(60px);
  border-radius: vw(30px);
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  background-color: #f85032;
  color: #ffffff !important;
  text-transform: capitalize;
}

/*************** Input Component **************/
.label-class {
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  color: #000;
}

// .custom-input:focus {
//   outline: none;
//   box-shadow: none;
// }
// .custom-input {
//   width: vw(337px);
//   height: vw(60px);
//   border-radius: vw(30px);
//   border: vw(1px) solid #cccccc !important;
// }
::placeholder {
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Book;
  color: #e6e6e6;
}

/*************** Big Button Component **************/
.button-image-class {
  position: relative;
  .big-buttom-img-class {
    position: absolute;
    width: vw(48px);
    height: vw(48px);
    top: 25%;
    left: 7%;
  }
  .custom-bigbutton:focus {
    outline: none;
    box-shadow: none;
  }
  .custom-bigbutton {
    width: vw(248px);
    height: vw(90px);
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    border-radius: vw(45px);
    border: vw(1px) solid #cccccc;
  }
  .active-custom-bigbutton {
    border-color: #f85032;
    color: #f85032;
  }
}

/*************** Text Area Component **************/

.custom-textarea:focus {
  outline: none;
  box-shadow: none;
}
.custom-textarea {
  width: 100%;
  height: vw(170px);
  border-radius: vw(30px);
  border: vw(1px) solid #cccccc;
  padding: vw(15px);
  resize: none;
}

/*************** Big Button One Component **************/
.custom-bigbuttonone:focus {
  outline: none;
  box-shadow: none;
}
.custom-bigbuttonone {
  width: vw(248px);
  height: vw(90px);
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  border-radius: vw(45px);
  border: vw(1px) solid #cccccc;
}
.custom-bigbuttonone-border-orange {
  color: #ff4d2d !important;
  border: vw(2px) solid #ff4d2d;
}

/****************************************
        Main Calender Component CSS
*****************************************/
.main-calender-container {
  // position: absolute;
  // left: 7%;
  border-radius: vw(40px);
  box-shadow: vw(0px) vw(0px) vw(20px) #0000001a;
  width: 86%;
  background-color: #ffffff;
  height: auto;
  padding-left: vw(139px) !important;
  padding-right: vw(139px) !important;
  padding-top: vw(23px);
  padding-bottom: vw(23px);

  /*=========================
          Tabs Css
  ==========================*/

  .rwt__tab[aria-selected="true"] {
    position: relative;
  }

  .rwt__tablist {
    text-align: center;
  }

  .rwt__tab {
    background: transparent;
    border: 0;
    font-family: Poppins-Bold;

    line-height: vw(31px);
    font-size: vw(21px);
    padding: 1rem 2rem;
    -webkit-transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .rwt__tablist:not([aria-orientation="vertical"])
    .rwt__tab[aria-selected="true"]:after {
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: vw(3px) solid #000000;
  }

  .rwt__tab[aria-selected="true"]:after {
    content: "";
    position: absolute;
  }

  /*=======================
        Table Border
  ========================*/

  .table-bordered td,
  .table-bordered th {
    border: vw(10px) solid #f7f7f7;
  }

  /*=====================
      Top Month slider
  ======================*/
  .calender-month-slider {
    margin-bottom: vw(51px);
    margin-top: vw(46px);

    tr {
      display: flex;
      justify-content: center;
      color: #303030;
      font-size: vw(18px);
      line-height: vw(22px);
      font-family: AvenirLTStd-Medium;
    }
    button {
      background-color: transparent;
      border: none;
      margin: vw(10px);
    }
    h3 {
      font-size: vw(24px);
      line-height: vw(29px);
      color: #000000;
      font-family: AvenirLTStd-Medium;
    }
    p {
      font-size: vw(24px);
      line-height: vw(29px);
      color: #000000;
      font-family: AvenirLTStd-Medium;
    }
    .current-date-time {
      padding-left: vw(20px);

      button {
        color: #303030;
        border: vw(2px) solid #303030;
        border-radius: vw(19px);
        font-family: Poppins-Regular;
        font-size: vw(21px);
        line-height: vw(31px);
        width: vw(150px);
        height: vw(40px);
        // margin-top: vw(30px);
      }
    }
    .day-and-date-view {
      display: flex;
      justify-content: center;
    }
  }

  /*========================
        Day view css
    ==========================*/
  .day-view-container {
    padding-left: vw(0px);
    padding-right: vw(0px);
    text-align: center;

    .employee-appreoval-card .card {
      background-color: #ffffff;
      border-radius: 0.52083vw;
      width: auto;
      padding: 1.5625vw;
      height: 26.04167vw;
      border: none;
      box-shadow: 0px 3px 50px #80808017;
    }

    .dates {
      width: vw(122px);
      height: vw(171px) !important;
      color: #303030;
      font-size: vw(122px);
      font-family: Poppins-Bold;
    }
    .slick-prev:before {
      font-size: 20px;
      line-height: 1;
      opacity: 0.75;
      color: #303030;
    }
    .slick-next:before {
      font-size: 20px;
      line-height: 1;
      opacity: 0.75;
      color: #303030;
    }
  }

  /*===========================
    Bottom date and day section
  ============================*/

  .calender-date-section {
    width: 100%;

    .days_name {
      color: #000000;
      font-family: AvenirLTStd-Black;
      font-size: vw(21px);
      line-height: vw(25px);
      width: vw(194px);
      height: vw(71px);
      padding: 0px;
      vertical-align: middle;
      border: vw(10px) solid #f7f7f7;
    }
    .dayDisabled {
      // border: 2px solid;
      // border-color: rgba($color: #000000, $alpha: 0.2);
      color: rgba($color: #000000, $alpha: 0.2);
      padding-right: vw(22px);
      padding-bottom: vw(22px);
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium;
      width: vw(194px);
      height: vw(172px);
      vertical-align: bottom;
      text-align: right;
      background-color: #d3d3d31f;
    }
    .dates {
      color: #000000;
      padding-right: vw(22px);
      padding-bottom: vw(22px);
      font-family: AvenirLTStd-Medium;
      font-size: vw(21px);
      line-height: vw(25px);
      width: vw(194px);
      height: vw(172px);
      vertical-align: bottom;
      text-align: right;
      // p{
      //   width: 40%;
      //   height: 6vh;
      //   background-color: #FF4D2D;
      //   border-radius: 30px;
      //   float: right;
      //   padding: 15px 18px;
      // }
    }
    .follo-up-border {
      color: #5789ff;
      padding-right: vw(22px);
      padding-bottom: vw(22px);
      font-family: Poppins-Bold;
      font-size: vw(22px);
      line-height: vw(29px);
      width: vw(194px);
      height: vw(172px);
      vertical-align: bottom;
      text-align: right;
      // border: 2px solid #5789ff;
    }
    .current-date-border {
      // color: #ff3535;
      // padding-right: vw(22px);
      // padding-bottom: vw(22px);
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium;
      // width: vw(194px);
      // height: vw(172px);
      vertical-align: bottom;
      text-align: right;
      // border: 2px solid #ff3535;
    }
    .active-Date {
      width: vw(54px);
      height: vw(54px);
      background-color: #ff4d2d;
      padding: vw(15px);
      border-radius: vw(40px);
      color: #fff;
      float: right;
    }
    .block-div {
      width: vw(30px);
      height: vw(30px);
      border-radius: vw(5px);
      background-color: #ffcf60;
      margin-right: vw(13px);
    }

    .event-name {
      display: flex;
      width: 100%;
      background-color: white;
      color: #5789ff;
      font-weight: lighter;
      flex-direction: column;
      align-items: baseline;
      font-family: Poppins-Medium;
      font-size: vw(18px);
      margin-bottom: vw(60px);
      p {
        margin-bottom: 0;
        background-color: aliceblue;
        padding: vw(4px);
        border-radius: vw(7px);
        width: 100%;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.save-leaves-btn {
  width: vw(111px);
  height: vw(53px);
  color: #303030;
  background-color: transparent;
  border: vw(2px) solid #303030;
  border-radius: vw(27px);
  font-size: vw(24px);
  line-height: vw(35px);
  font-family: Poppins-SemiBold;
}

/*=========================
          Model css 
  ==========================*/

.type-of-leave-select {
  margin-left: vw(58px);
  margin-top: vw(45px);
}

/*=======================================
              Day view cards
=========================================*/
.edit-img-followup-card {
  width: vw(30px);
  transform: rotate(90deg);
  cursor: pointer;
}

.card-info-section-emp {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-info-section-emp__1 {
  display: flex;
  align-items: flex-start;
}

.day-view-calender-card {
  border-radius: vw(10px);
  box-shadow: vw(0px) vw(3px) vw(50px) #80808028;
  margin-top: vw(30px);
  padding: vw(30px);
  // width: vw(526px);
  height: vw(317px);
  text-align: left;

  .card-info-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .card-info-section__1 {
      display: flex;
      align-items: flex-start;
    }
    h4 {
      font-size: vw(24px);
      line-height: vw(35px);
      color: #303030;
      font-family: Poppins-Bold;
    }
    p {
      font-size: vw(21px);
      line-height: vw(31px);
      color: #303030;
      font-family: Poppins-Regular;
    }
  }
  .lead-list-view-img {
    height: auto;
    margin-right: 2.1875vw;
  }
  .content-section {
    p {
      font-size: vw(21px);
      line-height: vw(31px);
      font-family: Poppins-SemiBold;
    }
    span {
      font-size: vw(21px);
      color: #303030;
      line-height: vw(31px);
      font-family: Poppins-Regular;
    }
    display: flex;
    margin-top: vw(15px);
    justify-content: space-between;
  }
}

/*==========================================
          Reservation Data Component css
============================================*/
.main-reservation-data {
  width: vw(835px);
  height: 100vh;
  position: absolute;
  // left: 56.9%;
  right: 0;
  top: 0;

  .head {
    width: 100%;
    height: auto;
    box-shadow: vw(0px) vw(0px) vw(30px) #00000019;
    background-color: #fff;
    padding-top: vw(33px);
    padding-bottom: vw(33px);

    .day-text {
      font-size: vw(36px);
      line-height: vw(29px);
      font-family: AvenirLTStd-Black;
    }
    .orange {
      color: #ff4d2d;
    }
    .head-text {
      font-size: vw(24px);
      line-height: vw(29px);
      font-family: AvenirLTStd-Roman;
    }
    .cross-img {
      width: vw(27.7px);
      height: vw(27.7px);
    }
    .border-right-class {
      border-right: vw(1px) solid #f2f2f2;
    }
  }

  .main-details {
    padding: vw(20px);
    background-color: #fcfcfc;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;

    // /**** for scroll bar *****/
    // ::-webkit-scrollbar {
    //   width: 0px;
    // }

    .left-col {
      p {
        font-size: vw(20px);
        line-height: vw(29px);
        font-family: AvenirLTStd-Roman;
      }
      hr {
        border-color: #ff4d2d !important;
      }
    }
    .right-col {
      border-bottom: vw(1px) solid #f2f2f2;
      padding-top: vw(8px);
      padding-bottom: vw(20px);
    }

    .details {
      width: 100%;
      height: vw(118px);
      border-radius: vw(20px);
      background-color: #fff;
      margin-top: vw(10px);
      padding: vw(10px);
      .first-div {
        border-right: vw(1px) solid #ff4d2d;
      }
      .details-bold-text {
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-Black;
        color: #000;
        margin-bottom: vw(10px);
      }
      p {
        font-size: vw(18px);
        line-height: vw(22px);
        font-family: AvenirLTStd-Roman;
        color: #4d4d4d;
      }
      .details-logo-img {
        width: vw(42px);
        height: vw(42px);
        margin-right: vw(10px);
        border-radius: vw(5px);
        box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
      }
      .green-box {
        width: vw(108px);
        height: vw(75px);
        text-align: center;
        font-family: AvenirLTStd-Roman;
        font-size: vw(18px);
        line-height: vw(22px);
        color: #4d4d4d;
        background-color: #46ff32;
        border-radius: vw(20px);
        padding: vw(15px);
        .bold {
          font-size: vw(18px);
          line-height: vw(22px);
          font-family: AvenirLTStd-Black;
          color: #4d4d4d;
        }
      }
      .cancel-img {
        width: vw(18px);
        height: vw(18px);
        margin-left: vw(30px);
      }
    }
  }

  .main-details::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ccc;
  }

  .main-details::-webkit-scrollbar {
    width: vw(8px);
    background-color: #ccc;
  }

  .main-details::-webkit-scrollbar-thumb {
    background-color: #ff4d2d;
    border: vw(2px) solid #ccc;
  }
}

.view-seating-page-class {
  .details-logo-img-seating {
    width: vw(42px);
    height: vw(42px);
    margin-right: vw(10px);
    border-radius: vw(5px);
    box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
  }
}
