/**************************
    Small Component Scss
**************************/
.main-icon-button_active {
  width: vw(248px);
  height: vw(70px);
  border: vw(1px) solid #f85032;
  background-color: #fff;
  border-radius: vw(45px);
  display: flex;
  align-items: center;
  padding-left: vw(20px);
  margin: vw(10px);
  padding-right: vw(20px);
  cursor: pointer;

  img {
    width: vw(48px);
    height: vw(48px);
  }

  .para-data-icon {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #f85032;
    font-family: AvenirLTStd-Light;
    margin-left: vw(20px);
    text-transform: capitalize;
  }
}

.main-icon-button {
  width: vw(248px);
  height: vw(70px);
  border: vw(1px) solid #cccccc;
  background-color: #fff;
  border-radius: vw(45px);
  display: flex;
  align-items: center;
  padding-left: vw(20px);
  margin: vw(10px);
  padding-right: vw(20px);
  cursor: pointer;

  img {
    width: vw(48px);
    height: vw(48px);
  }

  .para-data-icon {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #000;
    font-family: AvenirLTStd-Medium;
    margin-left: vw(20px);
    text-transform: capitalize;
  }
}

.main-icon-button:active {
  background-color: #f85032;
  p {
    color: #fff;
  }
}

.seating-preferences_active {
  width: 48%;
  height: vw(60px);
  border: vw(1px) solid #f85032;
  background-color: #fff;
  border-radius: vw(45px);
  display: flex;
  align-items: center;
  padding-left: vw(20px);
  margin-right: vw(10px);
  padding-right: vw(20px);
  margin-bottom: vw(10px);
  margin-top: vw(10px);
  cursor: pointer;

  img {
    width: vw(40px);
    height: vw(40px);
  }

  .para-data-icon {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #f85032;
    font-family: AvenirLTStd-Light;
    margin-left: vw(20px);
    text-transform: capitalize;
  }
}

.seating-preferences {
  width: 48%;
  height: vw(60px);
  border: vw(1px) solid #cccccc;
  background-color: #fff;
  border-radius: vw(45px);
  display: flex;
  align-items: center;
  padding-left: vw(20px);
  margin-right: vw(10px);
  padding-right: vw(20px);
  margin-bottom: vw(10px);
  margin-top: vw(10px);
  cursor: pointer;

  img {
    width: vw(40px);
    height: vw(40px);
  }

  .para-data-icon {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #000;
    font-family: AvenirLTStd-Medium;
    margin-left: vw(20px);
    text-transform: capitalize;
  }
}

.seating-preferences-reservation-active {
  width: 32%;
  height: vw(60px);
  border: vw(1px) solid #f85032;
  background-color: #fff;
  border-radius: vw(45px);
  display: flex;
  align-items: center;
  padding-left: vw(20px);
  margin-right: vw(10px);
  padding-right: vw(20px);
  margin-bottom: vw(10px);
  margin-top: vw(10px);
  cursor: pointer;

  img {
    width: vw(40px);
    height: vw(40px);
  }

  .para-data-icon {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #f85032;
    font-family: AvenirLTStd-Light;
    margin-left: vw(20px);
    text-transform: capitalize;
  }
}

.seating-preferences-reservation {
  width: 32%;
  height: vw(70px);
  border: vw(1px) solid #cccccc;
  background-color: #fff;
  border-radius: vw(45px);
  display: flex;
  align-items: center;
  padding-left: vw(20px);
  margin-right: vw(10px);
  padding-right: vw(20px);
  margin-bottom: vw(10px);
  margin-top: vw(10px);
  cursor: pointer;

  img {
    width: vw(40px);
    height: vw(40px);
  }

  .para-data-icon {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #000;
    font-family: AvenirLTStd-Medium;
    margin-left: vw(20px);
    text-transform: capitalize;
  }
}

.main-suggest-button {
  width: vw(248px);
  height: vw(70px);
  border: vw(1px) solid #f85032;
  background-color: #fff;
  border-radius: vw(45px);
  display: flex;
  align-items: center;
  padding-left: vw(20px);
  padding-right: vw(20px);
  margin-bottom: vw(60px);

  .inside-div {
    width: vw(48px);
    height: vw(48px);
    border: vw(1px) solid #f85032;
    border-radius: vw(50px);
    padding: vw(11px);

    .icon-color {
      color: #f85032;
      font-size: vw(27.63px);
    }
  }
  .para-data {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #f85032 !important;
    font-family: AvenirLTStd-Black;
    margin-left: vw(20px);
    text-transform: capitalize;
  }
}

// NEW BY SHUBAM
.suggest_new_main_div {
  width: vw(248px);
  height: vw(70px);
  border: vw(1px) solid #f85032;
  background-color: #fff;
  border-radius: vw(45px);
  display: flex;
  align-items: center;
  padding-left: vw(20px);
  margin: vw(10px);
  padding-right: vw(20px);
  cursor: pointer;
  .circle_icons {
    display: flex;
    border: vw(1px) solid #f85032;
    border-radius: 50%;
    height: vw(40px);
    width: vw(40px);
    justify-content: center;
    align-items: center;
  }
  .suggest_new_title {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #f85032;
    font-family: AvenirLTStd-Black;
    margin-left: vw(20px);
    text-transform: capitalize;
  }
}
