/***************************
    DASHBOARD REPORTS SCSS
***************************/
.main-report {
  padding-left: vw(141px);
  padding-right: vw(141px);
  padding-bottom: vw(36px);
  .allreport-div {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: vw(36px);
      line-height: vw(43px);
      font-family: AvenirLTStd-Black;
      color: #000000;
    }
    .download-img {
      width: vw(24px);
      height: vw(24px);
    }
    .filter-img {
      width: vw(24px);
      height: vw(22.12px);
      margin-left: vw(30px);
    }
  }
  .p-text {
    font-size: vw(24px);
    line-height: vw(29px);
    font-family: AvenirLTStd-Medium;
    color: #000000;
    margin-right: vw(40px);
  }
  .active {
    font-family: AvenirLTStd-Black;
  }
  .active::before {
    content: "";
    width: vw(53px);
    border: vw(3px) solid #f85032;
    position: absolute;
    bottom: 0;
  }

  .chart-one {
    height: 50vh;
    border-radius: vw(20px);
    padding-top: vw(30px);
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
    .filter-img {
      width: vw(24px);
      height: vw(22.12px);
      float: right;
      margin-top: vw(26px);
      margin-right: vw(26px);
    }
  }
  .chart-two {
    height: 50vh;
    padding-top: vw(30px);
    border-radius: vw(20px);
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
  }
  .chart-three {
    height: 50vh;
    border-radius: vw(20px);
    padding-top: vw(30px);
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
    .filter-img {
      width: vw(24px);
      height: vw(22.12px);
      float: right;
      margin-top: vw(26px);
      margin-right: vw(26px);
    }
  }
  .chart-four {
    height: 50vh;
    border-radius: vw(20px);
    padding-top: vw(30px);
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
    .filter-img {
      width: vw(24px);
      height: vw(22.12px);
      float: right;
      margin-top: vw(26px);
      margin-right: vw(26px);
    }
  }
  .chart-five {
    padding-top: vw(30px);
    padding-bottom: vw(20px);
    height: 50vh;
    border-radius: vw(20px);
    box-shadow: vw(0px) vw(0px) vw(20px) #00000019;
    text-align: center;
    h3 {
      font-size: vw(21px);
      line-height: vw(27px);
      font-family: K2D-Regular;
      color: #000000;
    }
    .total-revenue-div {
      margin-top: vw(60px);
      .rupee-icon {
        font-size: vw(44px);
        line-height: vw(57px);
        font-family: K2D-Regular;
        color: #46ff32;
      }
      h1 {
        font-size: vw(104px);
        line-height: vw(135px);
        font-family: K2D-Bold;
        color: #000000;
      }

      p {
        font-size: vw(24px);
        line-height: vw(31px);
        font-family: K2D-Bold;
        color: #000000;
      }
    }
    .Pay-at-site-div {
      display: flex;
      justify-content: space-evenly;
      .rupee-icon {
        font-size: vw(44px);
        line-height: vw(57px);
        font-family: K2D-Regular;
        color: #46ff32;
      }
      h1 {
        font-size: vw(60px);
        line-height: vw(78px);
        font-family: K2D-Bold;
        color: #000000;
      }
      p {
        font-size: vw(21px);
        line-height: vw(27px);
        font-family: K2D-Regular;
        color: #000000;
      }
    }
  }
}
