/*****************************
  Main Header  Navigation Css
******************************/
.main-header {
  width: 100%;
  height: vw(90px);
  background-color: #fff;
  border: vw(1px) solid #e6e6e6;
  box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
  padding-left: vw(141px);
  padding-right: vw(141px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menubar {
    .menu {
      font-size: vw(21px);
      line-height: vw(24px);
      font-family: AvenirLTStd-Roman;
      color: #000;
      padding: 0 vw(15px);
      text-decoration: none;
    }

    .selected::before {
      content: ' ';
      position: absolute;
      width: vw(12px);
      height: vw(12px);
      background-color: #ff5757;
      border-radius: vw(10px);
      top: vw(15px);
    }

    .selected {
      font-family: AvenirLTStd-Black;
      line-height: vw(25px);
    }

    .cart-img {
      width: vw(60px);
      height: vw(60px);
      margin-left: vw(15px);
    }
    .logout-img {
      width: vw(60px);
      height: vw(60px);
      margin-left: vw(15px);
    }
  }
}

/***************************
  Sub Heder  Navigation Css
****************************/
.sub-header {
  padding-left: vw(141px);
  padding-right: vw(141px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sub-header-right-side {
    display: flex;
    align-items: center;
    .search-div {
      position: relative;
      margin-right: vw(25px);
      .search-img {
        position: absolute;
        width: 16px;
        height: 16.57px;
        top: 34%;
        left: 80%;
      }
      .searchclass {
        width: vw(248px);
        height: vw(60px);
        border: vw(1px) solid #e6e6e6;
        border-radius: vw(30px);
        padding-left: vw(20px);
      }
      ::placeholder {
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-Medium;
        color: #cccccc;
      }
      input:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }

    /****************
        DropDown Css
     ****************/
    #add-dropdown {
      margin-right: vw(25px);
      background-color: #57b6ff;
      width: 7.29167vw;
      font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
      border: none;
      border-radius: 40px;
    }
    #menu-dropdown {
      .dropdown-menu {
        font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        text-align: left;
        list-style: none;
        background-color: #57b6ff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: vw(40px);
      }
      .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: white;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        a {
          color: white;
          text-decoration-line: none;
        }
      }
    }
    .sort-img {
      width: vw(24px);
      height: vw(16px);
      margin-right: vw(25px);
    }
    .filter-img {
      width: vw(24px);
      height: vw(22.12px);
    }
  }
}
