.poc_add_another {
  min-height: vw(30px);
  text-align: right;
}
.form_container_poc {
  padding-top: vw(30px);
  width: vw(600px);
  margin: auto;

  .poc_label {
    font-family: AvenirLTStd-Medium;
    font-size: vw(25px);
  }
  .poc_input_field {
    font-family: AvenirLTStd-Book;
    height: vw(60px);
    font-size: vw(25px);
    line-height: vw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 30px;
    outline: none;
    padding-left: vw(20px);
  }
  .poc_input_field:focus {
    font-family: AvenirLTStd-Book;
    height: vw(60px);
    font-size: vw(25px);
    line-height: vw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 30px;
    outline: none;
    padding-left: vw(20px);
  }
  .poc_input_field::placeholder {
    font-family: AvenirLTStd-Book;
    font-size: vw(25px);
    height: vw(52px);
    line-height: vw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: #8c8c8c;
    border: none;
    outline: none;
    padding-left: vw(20px);
  }
  .poc_td {
    padding-top: vw(13px);
    padding-bottom: vw(13px);
  }

  .poc_input_field_add {
    font-family: AvenirLTStd-Book;
    height: vw(60px);
    font-size: vw(25px);
    line-height: vw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: #8c8c8c;
    border: 2px dashed #cccccc;
    border-radius: 30px;
    outline: none;
    padding-left: vw(20px);
    cursor: pointer;
  }
}

.table_contact_container {
  padding-top: vw(80px);
  margin: auto;

  .added_contacts {
    font-family: AvenirLTStd-Heavy;
    font-size: vw(30px);
  }
  .td_head {
    font-family: AvenirLTStd-Medium;
    font-size: vw(25px);
    line-height: vw(80px);
    color: white;
    background: #f85032;
    text-align: center;
  }
  .td_body {
    font-family: AvenirLTStd-Medium;
    font-size: vw(19px);
    line-height: vw(25px);
    color: black;
    background: white;
    text-align: center;
    padding: vw(20px) vw(0px);
  }
  table {
    border-collapse: collapse;
    border-radius: vw(30px);
    margin-top: vw(20px);
    margin-bottom: vw(40px);
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 vw(30px) rgba(0, 0, 0, 0.5);
  }
  table tr:first-child td:first-child {
    border-top-left-radius: 10px;
  }

  table tr:first-child td:last-child {
    border-top-right-radius: 10px;
  }
  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
}
