/*========================================================

                Vendor List scss

========================================================*/
@media screen and (min-width: 769px) {
  .table-container {
    text-align: center;

    .first-row {
      background-color: #ff5757;

      th {
        font-family: AvenirLTStd-Medium;
        font-size: vw(21px);
        color: white;
        height: vw(80px);
      }
    }
    // .first-row tr:first-child{
    //     border-radius: 5px 0px 0px 0px;
    // }
    // .first-row tr:last-child{
    //     border-radius: 0px 5px 0px 0px;
    // }

    .second-row {
      td {
        font-family: AvenirLTStd-Medium;
        font-size: vw(21px);
        height: vw(80px);
      }
      .img-padding {
        padding-left: vw(30px);
      }
    }

    .vendor {
      font-family: AvenirLTStd-Black;
      text-align: left;
      font-size: vw(36px);
    }

    .vendor-search {
      display: flex;
      justify-content: space-between;

      .input-bottomblack--input-search {
        background: transparent;
        margin-left: auto;
      }
    }

    .username-login-form-group {
      img {
        position: absolute;
        width: fit-content;
        top: 7px;
        left: 165px;
      }
    }
    .size-select {
      font-family: AvenirLTStd-Medium;
      font-size: 0.9rem !important;
      border: none;
      background-color: transparent;
      color: black;
    }
  }

  .search-label {
    label {
      display: none;
    }
  }

  table {
    border-collapse: collapse;
    border-radius: 5px 5px 40px 40px;
    overflow: hidden;
    margin-bottom: vw(0px);
  }

  ///***** popup css ******////

  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
  }
  .popup_inner {
    text-align: left;
    padding: vw(20px);
    position: absolute;
    left: 35%;
    right: 35%;
    // top: 30%;
    bottom: 30%;
    margin: auto;
    background: white;
    border-radius: vw(20px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

    .login-text {
      font-family: AvenirLTStd-Black;
      margin: vw(20px);
    }
    .para-div {
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      p {
        font-family: AvenirLTStd-Book;
        font-size: vw(21px);
        padding: vw(10px);
      }
    }

    .order-notes-button {
      padding-top: vw(30px);
    }
  }
}

/***********************************
            Media Query Vendor List  
***********************************/
@media screen and (max-width: 768px) {
  .table-container {
    text-align: center;

    .first-row {
      background-color: #ff5757;

      th {
        font-family: AvenirLTStd-Medium;
        font-size: mvw(15px);
        color: white;
        height: auto;
        vertical-align: middle;
        padding: mvw(10px);
      }
    }
    // .first-row tr:first-child{
    //     border-radius: 5px 0px 0px 0px;
    // }
    // .first-row tr:last-child{
    //     border-radius: 0px 5px 0px 0px;
    // }

    .second-row {
      td {
        font-family: AvenirLTStd-Medium;
        font-size: mvw(15px);
        height: auto;
        vertical-align: middle;
      }
      .img-padding {
        padding-left: mvw(30px);
      }
    }

    .vendor {
      font-family: AvenirLTStd-Black;
      text-align: left;
      font-size: mvw(16px);
    }

    .vendor-search {
      display: flex;
      justify-content: space-between;
      padding-top: mvw(10px);
      padding-bottom: mvw(10px);

      .input-bottomblack--input-search {
        background: transparent;
        margin-left: auto;
      }
    }

    .username-login-form-group {
      img {
        position: absolute;
        width: fit-content;
        top: 7px;
        left: 165px;
      }
    }
    .size-select {
      font-family: AvenirLTStd-Medium;
      font-size: 0.9rem !important;
      border: none;
      background-color: transparent;
      color: black;
    }
  }

  .search-label {
    label {
      display: none;
    }
  }

  table {
    border-collapse: collapse;
    border-radius: 5px 5px 40px 40px;
    overflow: hidden;
    margin-bottom: mvw(0px);
  }

  ///***** popup css ******////

  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.2;
  }
  .popup_inner {
    text-align: left;
    padding: mvw(20px);
    position: absolute;
    left: 35%;
    right: 35%;
    // top: 30%;
    bottom: 30%;
    margin: auto;
    background: white;
    border-radius: mvw(20px);
    box-shadow: 0px 0px 20px #e6e6e6;

    .login-text {
      font-family: AvenirLTStd-Black;
      margin: mvw(20px);
    }
    .para-div {
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      p {
        font-family: AvenirLTStd-Book;
        font-size: mvw(21px);
        padding: mvw(10px);
      }
    }

    .order-notes-button {
      padding-top: mvw(30px);
    }
  }
}
