/********************
    DashBoard Scss
********************/
.main-dashboard-back {
  width: 100%;
  padding: vw(12.5px) vw(141px);
  background-color: #ffffff;
  box-shadow: vw(0px) vw(10px) vw(20px) rgba(0, 0, 0, 0.05);
  // background: -moz-linear-gradient(
  //   359deg,
  //   #ff4d2d 0%,
  //   #ffa382 100%
  // ); /* ff3.6+ */
  // background: -webkit-gradient(
  //   linear,
  //   left top,
  //   right top,
  //   color-stop(0%, #ff4d2d),
  //   color-stop(100%, #ffa382)
  // ); /* safari4+,chrome */
  // background: -webkit-linear-gradient(
  //   359deg,
  //   #ff4d2d 0%,
  //   #ffa382 100%
  // ); /* safari5.1+,chrome10+ */
  // background: -o-linear-gradient(
  //   359deg,
  //   #ff4d2d 0%,
  //   #ffa382 100%
  // ); /* opera 11.10+ */
  // background: -ms-linear-gradient(359deg, #ff4d2d 0%, #ffa382 100%); /* ie10+ */
  // background: linear-gradient(91deg, #ff4d2d 0%, #ffa382 100%); /* w3c */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4D2D', endColorstr='#FFA382',GradientType=1 ); /* ie6-9 */

  .hamburgur-class {
    color: #000 !important;
    width: vw(35.25px);
    height: vw(23.5px);
    align-self: center;
  }

  h4 {
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    margin-left: vw(30px);
  }

  .amelio_logo_imageClass {
    width: vw(175px);
    height: vw(60px);
  }
}

/*****=================
  *  Dashboar Link Css
  =================*****/
.dashboard-menu-slide {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  padding: vw(20px) vw(76px) vw(20px) vw(76px);
  background-color: #fff;
  // background: -moz-linear-gradient(
  //   333deg,
  //   #ffa382 0%,
  //   #ff4d2d 100%
  // ); /* ff3.6+ */
  // background: -webkit-gradient(
  //   linear,
  //   left top,
  //   right bottom,
  //   color-stop(0%, #ffa382),
  //   color-stop(100%, #ff4d2d)
  // ); /* safari4+,chrome */
  // background: -webkit-linear-gradient(
  //   333deg,
  //   #ffa382 0%,
  //   #ff4d2d 100%
  // ); /* safari5.1+,chrome10+ */
  // background: -o-linear-gradient(
  //   333deg,
  //   #ffa382 0%,
  //   #ff4d2d 100%
  // ); /* opera 11.10+ */
  // background: -ms-linear-gradient(333deg, #ffa382 0%, #ff4d2d 100%); /* ie10+ */
  // background: linear-gradient(117deg, #ffa382 0%, #ff4d2d 100%); /* w3c */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA382', endColorstr='#FF4D2D',GradientType=1 ); /* ie6-9 */
  transition: all 5s ease;
  animation: imganim 0.5s linear both;
  box-shadow: vw(0px) vw(0px) vw(30px) rgba(0, 0, 0, 0.1);
  z-index: 2;

  h4 {
    font-size: vw(32px);
    line-height: vw(38px);
    color: #000;
    font-family: AvenirLTStd-Black;
    margin-left: 0;
  }

  .times-fontawesome {
    width: vw(28px);
    height: vw(28px);
    color: #000;
    position: absolute;
    right: vw(-25px);
    cursor: pointer;
  }

  .restaurant-open {
    border: none;
    border-top: vw(1px) solid #000;
    border-bottom: vw(1px) solid #000;
    padding: 0;
    margin-top: vw(25px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      font-size: vw(22px);
      line-height: vw(25px);
      color: #000;
      font-family: AvenirLTStd-Roman;
      margin-top: vw(30px);
      margin-bottom: vw(30px);
    }
  }
  .menu-nav {
    display: inline-grid;
    margin-bottom: vw(10px);
    padding: 0;
    a {
      font-size: vw(21px);
      font-family: AvenirLTStd-Roman;
      color: #000;
      margin-left: vw(15px);
      text-decoration: none;
      // margin: vw(20px) 0;
    }
    .total-navlink-div {
      display: flex !important;
      padding: vw(11px) 0;
      align-items: center;
    }

    .selected::before {
      content: " ";
      position: absolute;
      width: vw(12px);
      height: vw(12px);
      background-color: #000;
      border-radius: 50%;
      left: vw(-25px);
      margin-top: vw(8px);
    }

    .selected {
      font-family: AvenirLTStd-Black;
      line-height: vw(25px);
      // color: #ff4d2d;
    }

    .empty-div {
      // border: 1px solid #000;
      // border-radius: 12px;
      // padding: 10px;
      width: vw(25px);
      height: vw(25px);
      margin-right: vw(15px);
    }

    .link-custom-hover:hover {
      .empty-div {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
      }
      @-moz-keyframes spin {
        100% {
          -moz-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
  .logout-div {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    padding-top: vw(15px);
    align-items: center;
    width: 100%;

    .logout-text {
      font-size: vw(24px);
      font-family: AvenirLTStd-Black;
      color: #000;
    }

    img {
      width: vw(68.2px);
      height: vw(68.2px);
    }
  }
}

@keyframes imganim {
  from {
    width: 10%;
    height: 100vh;
  }
  to {
    width: 25%;
    height: 100vh;
  }
}
