/***********************************
    Modal POPUP CSS             
***********************************/
.modal-content {
  border-radius: vw(20px);

  .suggest-new-title {
    padding: vw(30px);
    background-color: #ff4d2d;
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);

    h3 {
      font-size: vw(36px);
      line-height: vw(43px);
      color: #fff;
      font-family: AvenirLTStd-Black;
    }
  }

  .inside-body-section {
    padding: vw(30px);

    .download-img-qrcode {
      display: none !important;
    }

    .input-label-suggest {
      font-size: vw(28px);
      color: #000;
      line-height: vw(34px);
      font-family: AvenirLTStd-Black;
      margin-bottom: vw(10px);
    }

    .select-category {
      border: vw(1px) solid rgba(204, 204, 204, 0.7);
      border-radius: vw(45px);
      width: 100%;
      height: vw(60px);
      padding-left: vw(10px);
      padding-right: vw(10px);
      color: #ccc;
    }

    .textarea-custom {
      border: vw(1px) solid #ccc;
      border-radius: vw(30px);
      padding: vw(20px);
    }

    .insid-body-headinone {
      font-size: vw(24px);
      color: #000;
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
      margin-bottom: vw(21px);
    }

    .insid-body-paragraph {
      font-size: vw(20px);
      color: #000;
      line-height: vw(22px);
      font-family: AvenirLTStd-Roman;
      margin-bottom: vw(40px);
    }
  }
}

/***=============================
    QR CODE Css
=============================***/
.Qr-code-paragraph {
  font-size: vw(20px);
  line-height: vw(24px);
  font-family: AvenirLTStd-Roman;
  color: #000;
}

/***=============================
    Terms and Condition CSS
=============================***/
.term-and-condition-title {
  background-color: #ff4d2d;
  padding: vw(30px);
  border-top-left-radius: vw(20px);
  border-top-right-radius: vw(20px);
  box-shadow: 0 0 vw(20px) rgba(0, 0, 0, 0.1);

  h3 {
    font-size: vw(30px);
    line-height: vw(37px);
    color: #fff;
    font-family: AvenirLTStd-Black;
  }
}

.term-and-condition-widthmain {
  margin: vw(30px);
  background-color: #fff;

  .term-and-condition-width {
    overflow-y: scroll;
    margin-bottom: vw(25px);
    padding: vw(30px);
    height: 50vh;
    background-color: #fafafa;
    border-radius: vw(20px);

    .term-and-condition-para {
      min-height: 50vh;

      h3 {
        font-size: vw(22px);
        line-height: vw(25px);
        color: #000;
        font-family: AvenirLTStd-Black;
      }

      span {
        font-size: vw(22px);
        line-height: vw(25px);
        color: #000;
        float: left;
        font-family: AvenirLTStd-Black;
      }

      p {
        font-size: vw(20px);
        line-height: vw(25px);
        color: #000;
        font-family: AvenirLTStd-Book;
      }
    }
  }

  /*
    *  STYLE 4
    */

  #style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #ccc !important;
  }

  #style-3::-webkit-scrollbar {
    width: vw(8px) !important;
    background-color: #ccc !important;
  }

  #style-3::-webkit-scrollbar-thumb {
    background-color: #ff4d2d !important;
    border: none !important;
  }
}

/***=============================
    Chain Display CSS
=============================***/
.chain-display-image {
  padding: vw(15px) !important;

  h3 {
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Black;
    color: #000;
    margin-bottom: vw(20px);
  }

  img {
    width: vw(160px);
    height: vw(160px);
    border: vw(1px) solid #cccccc;
    border-radius: vw(20px);
    margin: vw(5px);
  }
}

/***=============================
    CHANGE LOGO DESIGN CSS
=============================***/
.main-change-logo {
  padding: vw(30px);

  h5 {
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Black;
    color: #000;
    margin-bottom: vw(20px);
  }
}

//01-21-2020
