/***********************************
 * @DESC OPEN ISSUES CSS
***********************************/
.superAdmin-main-open-issues-body {
  .open-issues-title {
    margin-top: vw(39px);
    margin-bottom: vw(39px);
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black;
  }

  .open-issues-notActive {
    font-size: vw(24px);
    line-height: vw(29px);
    font-family: AvenirLTStd-Medium;
    margin-right: vw(45px);
    cursor: pointer;
  }

  .open-issues-Active {
    font-size: vw(24px);
    line-height: vw(29px);
    font-family: AvenirLTStd-Black;
    margin-right: vw(45px);
    cursor: pointer;
  }

  .open-issues-Active:after {
    content: "";
    display: block;
    width: 70%;
    margin-top: vw(8px);
    border-bottom: vw(6px) solid #ff4d2d;
  }

  .open-issues-search-box {
    position: absolute;
    right: 8%;
    padding: 0;
    top: 20%;
  }

  .open-issues-search {
    label {
      display: none !important;
    }
    .form-group {
      margin-bottom: 0 !important;
    }
  }

  .open-issues-input-search-box {
    height: vw(60px);
    width: 100%;
    border-radius: vw(30px);
  }
  .open-issues-input-search-box:focus {
    box-shadow: none;
    outline: none;
  }

  .open-issues-table-body {
    border-radius: vw(40px);
    box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);

    .open-issues-table-back {
      background-color: #ff4d2d;
      color: rgba(255, 255, 255, 0.8);
      font-size: vw(21px);
      line-height: vw(24px);
      font-family: AvenirLTStd-Medium;

      tr > th {
        padding-top: vw(31px);
        padding-bottom: vw(25px);
      }
    }

    .open-issues-table-main-body {
      .open-issues-table-body-data {
        height: vw(144px);

        td {
          vertical-align: middle !important;
        }

        p {
          font-size: vw(21px);
          line-height: vw(24px);
          font-family: AvenirLTStd-Medium;
        }

        .danger-open-issues {
          border-radius: vw(10px);
          border: (1px) solid #ff4d2d;
          padding: vw(10px);
          color: #ff4d2d;
          text-align: center;
        }

        h2 {
          font-size: vw(21px);
          line-height: vw(24px);
          font-family: AvenirLTStd-Black;
        }

        .profile-image {
          width: vw(51px);
          height: vw(51px);
          border-radius: vw(26px);
          margin-right: vw(17px);
        }

        .order-type-image {
          width: vw(27px);
          height: vw(27px);
        }

        .view-image {
          width: vw(42px);
          height: vw(42px);
          border-radius: vw(4px);
          box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.29);
          margin-left: vw(68px);
        }
      }
    }
  }

  /*************************************
   * View Tickets Css 
  *************************************/
  .superAdmin-user-ticket-back-button {
    font-size: vw(18px);
    line-height: vw(22px);
    font-family: AvenirLTStd-Medium;
    text-transform: capitalize;
    color: #000;
    cursor: pointer;
  }

  .icon-font {
    font-size: vw(35px);
    color: #000;
    margin-right: vw(10px);
    cursor: pointer;
  }

  .superAdmin-open-issues-user-ticket {
    padding: vw(30px);
    background-color: #ffffff;
    border-radius: vw(40px);
    border: vw(1px) solid #e6e6e6;
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.19);
    height: auto;

    h2 {
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
    }

    span {
      font-size: vw(21px);
      line-height: vw(24px);
      font-family: AvenirLTStd-Roman;
      color: rgba(0, 0, 0, 0.75);
    }

    .user-ticket-image-name {
      padding: 0;
      display: flex;
      align-items: center;
      margin-top: vw(25px);
      margin-bottom: vw(25px);
    }

    .restaurant-image {
      width: vw(60px);
      height: vw(60px);
      border-radius: vw(30px);
      margin-right: vw(20px);
    }

    .restaurant-image:hover {
      -ms-transform: scale(2); /* IE 9 */
      -webkit-transform: scale(2); /* Safari 3-8 */
      transform: scale(2);
      transition: all 1s cubic-bezier(0.005, 1.65, 1, -0.6);
      transition-timing-function: cubic-bezier(0.005, 1.65, 1, -0.6);
      border: none !important;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85),
        0 0 7px 0 rgba(0, 0, 0, 0.25), inset 0 0 40px 0 rgba(0, 0, 0, 0.25);
    }

    .restaurant-issues-image {
      width: vw(82px);
      height: vw(82px);
      border-radius: vw(5px);
    }

    .restaurant-issues-image:hover {
      -ms-transform: scale(3); /* IE 9 */
      -webkit-transform: scale(3); /* Safari 3-8 */
      transform: scale(3);
      transition: all 1s cubic-bezier(0.005, 1.65, 1, -0.6);
      transition-timing-function: cubic-bezier(0.005, 1.65, 1, -0.6);
      border: none !important;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85),
        0 0 7px 0 rgba(0, 0, 0, 0.25), inset 0 0 40px 0 rgba(0, 0, 0, 0.25);
    }

    .order-type-user-issues {
      width: vw(28px);
      height: vw(28px);
    }

    h3 {
      font-size: vw(16px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
    }

    p {
      font-size: vw(16px);
      line-height: vw(20px);
      font-family: AvenirLTStd-Medium;
      color: rgba(0, 0, 0, 0.56);
    }

    .summary-user-issues {
      padding: vw(15px);
      margin-top: vw(33px);
      border: vw(2px) solid #ffffff;
      border-radius: vw(5px);
      box-shadow: inset vw(0px) vw(5px) vw(10px) rgba(0, 0, 0, 0.26),
        vw(0px) vw(5px) vw(10px) rgba(0, 0, 0, 0.26);
      height: vw(100px);
      overflow-x: scroll;
      width: 100%;
      margin-bottom: vw(33px);
    }

    .open-user-issues {
      background-color: #f85032;
      width: vw(248px);
      height: vw(60px);
      font-size: vw(21px);
      line-height: vw(24px);
      font-family: AvenirLTStd-Medium;
      border-radius: vw(30px);
      color: #ffffff;
    }

    .open-user-issues-green {
      background-color: #74ff57;
      width: vw(248px);
      height: vw(60px);
      font-size: vw(21px);
      line-height: vw(24px);
      font-family: AvenirLTStd-Medium;
      border-radius: vw(30px);
      color: #ffffff;
    }

    .open-user-popup-icon-button {
      width: vw(41px);
      height: vw(41px);
      border-radius: vw(8px);
      box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.26);
      margin-right: vw(28px);
    }

    .open-issues-input-wait-time {
      border: vw(1px) solid #707070;
      border-right: none;
      border-bottom-left-radius: vw(9px);
      border-top-left-radius: vw(9px);
      border-bottom-right-radius: vw(0px);
      border-top-right-radius: vw(0px);
      height: vw(34px);
      width: 25%;
      padding: vw(5px) !important;
      text-align: center;
    }

    .open-issues-input-wait-time:focus {
      outline: none;
      box-shadow: none;
    }

    .edit-button-icon {
      width: vw(40px);
      padding: vw(5px);
      border: vw(1px) solid #707070;
      border-bottom-right-radius: vw(9px);
      border-top-right-radius: vw(9px);
      height: vw(34px);
      margin-left: vw(-2px);
    }

    .edit-logs-section-height {
      height: 26vh !important;
      width: 100%;
      overflow: auto;
    }

    .borderless {
      display: inline-table !important;
    }

    .borderless td,
    .borderless th {
      border: none;
    }
  }

  /**********************************
   *  @DESC PopUp CSS
  **********************************/
}
