/*******************************
 * @DESC LOGIN COMPONENT CSS
********************************/
.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  .login-section-one {
    width: vw(586px);
    height: auto;
    padding: vw(18px) vw(30px);
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.1);
    border-radius: vw(20px);
    background-color: #fff;

    p {
      font-size: vw(21px);
      line-height: vw(25px);
      color: #000;
      text-align: center;
      font-family: AvenirLTStd-Book;
      margin-bottom: vw(38px);
    }
  }
}
//my
