@media screen and (min-width: 769px) {
  /********************
    Global Css hii
********************/
  /***********************************
            Global Reset             
***********************************/
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    overflow-x: hidden;
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
  }

  /*=======================    React s alerts========================*/
  .s-alert-box {
    // background: #f85032 !important;
    border-radius: vw(10px) !important;
    font-family: AvenirLTStd-Medium !important;

    h4 {
      font-size: vw(21px) !important;
    }
  }

  /*******************************************
 * @DESC React Country Code
 ******************************************/
  .reservation-data .react-tel-input .form-control {
    width: 100% !important;
    height: vw(68px) !important;
    border-radius: vw(35px) !important;
    pointer-events: none;
  }
  .react-tel-input .form-control {
    width: 100% !important;
    height: vw(48px) !important;
    border-radius: vw(35px) !important;
    pointer-events: none;
  }
  .react-tel-input .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .react-tel-input .country-list {
    text-align: left !important;
  }

  .react-tel-input .flag-dropdown {
    border-radius: vw(35px) 0 0 vw(35px) !important;
  }

  .react-tel-input .flag-dropdown:hover .selected-flag,
  .react-tel-input .flag-dropdown:focus .selected-flag {
    border-radius: 25px 0 0 25px !important;
  }

  /************************************
        Button Component Css
************************************/
  .button-main {
    width: vw(248px);
    height: vw(60px);
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    border-radius: vw(30px);
  }

  .button-orange {
    background-color: #f85032;
    color: #fff;
  }

  .button-white {
    background-color: #fff;
    color: #f85032;
    border: vw(2px) solid #f85032;
  }

  .button-orange:hover {
    color: #fff;
  }

  .button-white:hover {
    color: #f85032;
  }

  /************************************
       Sliding Component Css
************************************/
  .toggle {
    font-size: vw(21px);

    &__switch {
      appearance: none;
      width: vw(53px);
      height: vw(27px);
      border-radius: vw(60px);
      // border: 3px solid silver;
      position: relative;
      outline: none;
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 0 vw(10px) rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.3s linear;

      &:disabled {
        cursor: default;
      }

      &:after {
        content: "";
        display: block;
        width: vw(21px);
        height: vw(21px);
        background-color: #cccccc;
        box-shadow: 0 0 vw(10px) rgba(0, 0, 0, 0.1);
        border-radius: vw(60px);
        position: absolute;
        margin: auto;
        bottom: 0;
        top: 0;
        left: vw(29px);
        transition: all 0.3s linear;
      }

      &:checked {
        background-color: #fff;

        &:after {
          left: vw(3px);
          background-color: #72ff5a;
        }
      }
    }
  }

  /************************************
        Hr Component Css
************************************/
  .hr-global {
    border-top: 1px solid #f85032 !important;
  }

  /************************************
        Parent Component Css
************************************/
  .heading-title {
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Black;
    color: #000;
    // margin-bottom: vw(21px) !important;
    margin-bottom: vw(21px);
  }

  .heading-title-events {
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    // margin-bottom: vw(21px) !important;
    margin-bottom: vw(21px);
  }

  .heading-title-subscription-inside {
    font-size: vw(20px);
    line-height: vw(24px);
    font-family: AvenirLTStd-Black;
    color: #000;
    // margin-bottom: vw(21px) !important;
    margin-bottom: vw(25px);
    margin-top: vw(25px);
  }

  .subscription-sevice-name li {
    font-size: vw(21px);
    line-height: vw(28px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    margin: vw(30px) 0;
  }

  .subscription-custom-inputfield {
    border-radius: vw(45px);
    padding: vw(20px);
    width: 100%;
    font-size: vw(21px);
    height: vw(70px);
    background-color: #fff !important;
    opacity: 1 !important;
    outline: none;
    border: 1px solid #e6e6e6;
  }

  .subscription-custom-inputfield:focus {
    outline: none;
    box-shadow: none;
  }

  .person-contact-custom-inputfield {
    border-radius: vw(45px);
    padding: vw(15px);
    width: 100%;
    font-size: vw(21px);
    height: vw(60px);
    background-color: #fff !important;
    opacity: 1 !important;
    outline: none;
    border: 1px solid #cccccc;
  }

  .person-contact-custom-inputfield:focus {
    outline: none;
    box-shadow: none;
  }

  /************************************
        Input Component Css
************************************/
  .input-label {
    color: #000;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    text-transform: capitalize;
    margin-bottom: vw(10px);
  }

  .input-help-textnew {
    font-size: vw(18px);
    color: #707070;
    font-family: AvenirLTStd-Light;
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: vw(25px);

    .img-box {
      width: 12%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #e6e6e6;
      opacity: 1 !important;
      background-color: #fff !important;
      border-right: none;
      border-top-left-radius: vw(30px);
      border-bottom-left-radius: vw(30px);

      .img {
        width: vw(38px);
        height: vw(38px);
      }
    }

    .input-field {
      width: 100%;
      font-size: vw(21px);
      height: vw(60px);
      background-color: #fff !important;
      opacity: 1 !important;
      outline: none;
      border-left: none !important;
      border: 1px solid #e6e6e6;
      border-top-right-radius: vw(30px);
      border-bottom-right-radius: vw(30px);
    }
    .map-inputfield {
      width: 100%;
      font-size: vw(21px);
      height: vw(60px);
      background-color: #fff !important;
      opacity: 1 !important;
      outline: none;
      border: 1px solid #e6e6e6;
      border-radius: vw(30px);
      padding-left: vw(20px);
      padding-right: vw(20px);
    }

    .input-field:focus {
      outline: none;
      box-shadow: none;
    }

    ::placeholder {
      color: #e6e6e6;
    }

    .password-icon {
      // position: absolute;
      // top: 30%;
      // right: 3%;
      margin: auto;
      padding-left: vw(15px);
    }

    .password-width-input {
      width: 93%;
    }

    .input-wide {
      height: vw(120px);
    }
  }

  .custom-input {
    height: vw(90px) !important;
    border-top-left-radius: vw(45px) !important;
    border-bottom-left-radius: vw(45px) !important;
  }
  .custom-inputtwo {
    width: vw(200px) !important;
    height: vw(90px) !important;
    border-top-right-radius: vw(45px) !important;
    border-bottom-right-radius: vw(45px) !important;
  }

  .disable-input-button-css {
    width: 100%;
    height: vw(60px);
    background-color: #f7f7f7 !important;
    outline: none;
    border: 1px solid #f7f7f7;
    border-radius: vw(30px);
    padding-left: vw(20px);
    padding-right: vw(20px);
  }

  .disable-textarea-custom-css {
    background-color: #f7f7f7 !important;
    outline: none;
    border: 1px solid #f7f7f7;
    border-radius: vw(30px);
    width: 100%;
    height: auto;
    padding: vw(20px);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /************************************
        Header Component Css
************************************/
  .header-main-background {
    padding: vw(28px) vw(141px);
    box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    width: 100%;
    height: vw(90px);

    .navbar-brand {
      color: #000;
      font-size: vw(28px);
      line-height: vw(34px);
      font-family: AvenirLTStd-Black;
    }

    .nav-link {
      color: #000;
      font-size: vw(28px);
      line-height: vw(34px);
      font-family: AvenirLTStd-Roman;
    }

    .navbar-nav .active {
      color: #000;
      font-size: vw(28px);
      line-height: vw(34px);
      font-family: AvenirLTStd-Black;
      font-weight: bold;
    }
  }

  .error {
    color: red;
    font-size: vw(15px);
    font-family: AvenirLTStd-Light;
  }

  .curve_input_field {
    font-family: AvenirLTStd-Book;
    height: vw(70px);
    font-size: vw(25px);
    line-height: vw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 30px;
    outline: none;
    padding-left: vw(20px);
  }
  .curve_input_field:focus {
    font-family: AvenirLTStd-Book;
    height: vw(70px);
    font-size: vw(25px);
    line-height: vw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 30px;
    outline: none;
    padding-left: vw(20px);
  }
  .curve_input_field::placeholder {
    font-family: AvenirLTStd-Book;
    font-size: vw(25px);
    height: vw(52px);
    line-height: vw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: #8c8c8c;
    border: none;
    outline: none;
    padding-left: vw(20px);
  }

  *::-webkit-scrollbar-track {
    background-color: #fafafa;
  }

  *::-webkit-scrollbar {
    width: vw(1px);
    background-color: #ccc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: none;
  }

  #printme {
  }
}

/***********************************
            Media Query Global Css   
***************************************/
@media screen and (max-width: 768px) {
  /********************
    Global Css hii
********************/
  /***********************************
            Global Reset             
***********************************/
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    overflow-x: hidden;
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
  }

  /*=======================    React s alerts========================*/
  .s-alert-box {
    // background: #f85032 !important;
    border-radius: mvw(10px) !important;
    font-family: AvenirLTStd-Medium !important;

    h4 {
      font-size: mvw(21px) !important;
    }
  }

  /*******************************************
 * @DESC React Country Code
 ******************************************/
  .reservation-data .react-tel-input .form-control {
    width: 100% !important;
    height: mvw(68px) !important;
    border-radius: mvw(35px) !important;
    pointer-events: none;
  }
  .react-tel-input .form-control {
    width: 100% !important;
    height: mvw(48px) !important;
    border-radius: mvw(35px) !important;
    pointer-events: none;
  }
  .react-tel-input .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .react-tel-input .country-list {
    text-align: left !important;
  }

  .react-tel-input .flag-dropdown {
    border-radius: mvw(35px) 0 0 mvw(35px) !important;
  }

  .react-tel-input .flag-dropdown:hover .selected-flag,
  .react-tel-input .flag-dropdown:focus .selected-flag {
    border-radius: 25px 0 0 25px !important;
  }

  /************************************
        Button Component Css
************************************/
  .button-main {
    width: mvw(100px);
    height: mvw(40px);
    font-size: mvw(18px);
    line-height: mvw(22px);
    font-family: AvenirLTStd-Medium;
    border-radius: mvw(30px);
  }

  .button-orange {
    background-color: #f85032;
    color: #fff;
  }

  .button-white {
    background-color: #fff;
    color: #f85032;
    border: mvw(2px) solid #f85032;
  }

  .button-orange:hover {
    color: #fff;
  }

  .button-white:hover {
    color: #f85032;
  }

  /************************************
       Sliding Component Css
************************************/
  .toggle {
    font-size: mvw(21px);

    &__switch {
      appearance: none;
      width: mvw(53px);
      height: mvw(27px);
      border-radius: mvw(60px);
      // border: 3px solid silver;
      position: relative;
      outline: none;
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 0 mvw(10px) rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.3s linear;

      &:disabled {
        cursor: default;
      }

      &:after {
        content: "";
        display: block;
        width: mvw(21px);
        height: mvw(21px);
        background-color: #cccccc;
        box-shadow: 0 0 mvw(10px) rgba(0, 0, 0, 0.1);
        border-radius: mvw(60px);
        position: absolute;
        margin: auto;
        bottom: 0;
        top: 0;
        left: mvw(29px);
        transition: all 0.3s linear;
      }

      &:checked {
        background-color: #fff;

        &:after {
          left: mvw(3px);
          background-color: #72ff5a;
        }
      }
    }
  }

  /************************************
        Hr Component Css
************************************/
  .hr-global {
    border-top: 1px solid #f85032 !important;
  }

  /************************************
        Parent Component Css
************************************/
  .heading-title {
    font-size: mvw(28px);
    line-height: mvw(34px);
    font-family: AvenirLTStd-Black;
    color: #000;
    // margin-bottom: mvw(21px) !important;
    margin-bottom: mvw(21px);
  }

  .heading-title-events {
    font-size: mvw(21px);
    line-height: mvw(25px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    // margin-bottom: mvw(21px) !important;
    margin-bottom: mvw(21px);
  }

  .heading-title-subscription-inside {
    font-size: mvw(20px);
    line-height: mvw(24px);
    font-family: AvenirLTStd-Black;
    color: #000;
    // margin-bottom: mvw(21px) !important;
    margin-bottom: mvw(25px);
    margin-top: mvw(25px);
  }

  .subscription-sevice-name li {
    font-size: mvw(21px);
    line-height: mvw(28px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    margin: mvw(30px) 0;
  }

  .subscription-custom-inputfield {
    border-radius: mvw(45px);
    padding: mvw(20px);
    width: 100%;
    font-size: mvw(21px);
    height: mvw(70px);
    background-color: #fff !important;
    opacity: 1 !important;
    outline: none;
    border: 1px solid #e6e6e6;
  }

  .subscription-custom-inputfield:focus {
    outline: none;
    box-shadow: none;
  }

  .person-contact-custom-inputfield {
    border-radius: mvw(45px);
    padding: mvw(15px);
    width: 100%;
    font-size: mvw(21px);
    height: mvw(60px);
    background-color: #fff !important;
    opacity: 1 !important;
    outline: none;
    border: 1px solid #cccccc;
  }

  .person-contact-custom-inputfield:focus {
    outline: none;
    box-shadow: none;
  }

  /************************************
        Input Component Css
************************************/
  .input-label {
    color: #000;
    font-size: mvw(15px);
    line-height: mvw(18px);
    font-family: AvenirLTStd-Medium;
    text-transform: capitalize;
    // margin-bottom: mvw(10px);
  }

  .input-help-textnew {
    font-size: mvw(18px);
    color: #707070;
    font-family: AvenirLTStd-Light;
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: mvw(15px);

    .img-box {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #e6e6e6;
      opacity: 1 !important;
      background-color: #fff !important;
      border-right: none;
      border-top-left-radius: mvw(30px);
      border-bottom-left-radius: mvw(30px);

      .img {
        width: mvw(28px);
        height: mvw(28px);
      }
    }

    .input-field {
      width: 100%;
      font-size: mvw(15px);
      height: mvw(40px);
      background-color: #fff !important;
      opacity: 1 !important;
      outline: none;
      border-left: none !important;
      border: 1px solid #e6e6e6;
      border-top-right-radius: mvw(30px);
      border-bottom-right-radius: mvw(30px);
    }
    .map-inputfield {
      width: 100%;
      font-size: mvw(21px);
      height: mvw(60px);
      background-color: #fff !important;
      opacity: 1 !important;
      outline: none;
      border: 1px solid #e6e6e6;
      border-radius: mvw(30px);
      padding-left: mvw(20px);
      padding-right: mvw(20px);
    }

    .input-field:focus {
      outline: none;
      box-shadow: none;
    }

    ::placeholder {
      color: #e6e6e6;
      font-size: mvw(18px);
      line-height: mvw(22px);
    }

    .password-icon {
      // position: absolute;
      // top: 30%;
      // right: 3%;
      margin: auto;
      padding-left: mvw(15px);
    }

    .password-width-input {
      width: 93%;
    }

    .input-wide {
      height: mvw(120px);
    }
  }

  .custom-input {
    height: mvw(90px) !important;
    border-top-left-radius: mvw(45px) !important;
    border-bottom-left-radius: mvw(45px) !important;
  }
  .custom-inputtwo {
    width: mvw(200px) !important;
    height: mvw(90px) !important;
    border-top-right-radius: mvw(45px) !important;
    border-bottom-right-radius: mvw(45px) !important;
  }

  .disable-input-button-css {
    width: 100%;
    height: mvw(60px);
    background-color: #f7f7f7 !important;
    outline: none;
    border: 1px solid #f7f7f7;
    border-radius: mvw(30px);
    padding-left: mvw(20px);
    padding-right: mvw(20px);
  }

  .disable-textarea-custom-css {
    background-color: #f7f7f7 !important;
    outline: none;
    border: 1px solid #f7f7f7;
    border-radius: mvw(30px);
    width: 100%;
    height: auto;
    padding: mvw(20px);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /************************************
        Header Component Css
************************************/
  .header-main-background {
    // padding: mvw(28px) mvw(141px);
    // box-shadow: mvw(0px) mvw(3px) mvw(6px) rgba(0, 0, 0, 0.16);
    // background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    width: 100%;
    height: mvw(90px);

    .navbar-brand {
      color: #000;
      font-size: mvw(28px);
      line-height: mvw(34px);
      font-family: AvenirLTStd-Black;
    }

    .nav-link {
      color: #000;
      font-size: mvw(28px);
      line-height: mvw(34px);
      font-family: AvenirLTStd-Roman;
    }

    .navbar-nav .active {
      color: #000;
      font-size: mvw(28px);
      line-height: mvw(34px);
      font-family: AvenirLTStd-Black;
      font-weight: bold;
    }
  }

  .error {
    color: red;
    font-size: mvw(15px);
    font-family: AvenirLTStd-Light;
    margin-bottom: mvw(10px);
  }

  .curve_input_field {
    font-family: AvenirLTStd-Book;
    height: mvw(70px);
    font-size: mvw(25px);
    line-height: mvw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 30px;
    outline: none;
    padding-left: mvw(20px);
  }
  .curve_input_field:focus {
    font-family: AvenirLTStd-Book;
    height: mvw(70px);
    font-size: mvw(25px);
    line-height: mvw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
    border: 1px solid #cccccc;
    border-radius: 30px;
    outline: none;
    padding-left: mvw(20px);
  }
  .curve_input_field::placeholder {
    font-family: AvenirLTStd-Book;
    font-size: mvw(25px);
    height: mvw(52px);
    line-height: mvw(27px);
    display: flex;
    width: 100%;
    align-items: center;
    color: #8c8c8c;
    border: none;
    outline: none;
    padding-left: mvw(20px);
  }

  *::-webkit-scrollbar-track {
    background-color: #fafafa;
  }

  *::-webkit-scrollbar {
    width: mvw(1px);
    background-color: #ccc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: none;
  }

  #printme {
  }
}
