/********************
    Typography scss
********************/

@font-face {
  font-family: AvenirLTStd-Black;
  src: url("./assets/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: AvenirLTStd-BlackOblique;
  src: url("./assets/fonts/AvenirLTStd-BlackOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Book;
  src: url("./assets/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: AvenirLTStd-BookOblique;
  src: url("./assets/fonts/AvenirLTStd-BookOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Heavy;
  src: url("./assets/fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
  font-family: AvenirLTStd-HeavyOblique;
  src: url("./assets/fonts/AvenirLTStd-HeavyOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Light;
  src: url("./assets/fonts/AvenirLTStd-Light.otf");
}

@font-face {
  font-family: AvenirLTStd-LightOblique;
  src: url("./assets/fonts/AvenirLTStd-LightOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Medium;
  src: url("./assets/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: AvenirLTStd-MediumOblique;
  src: url("./assets/fonts/AvenirLTStd-MediumOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Oblique;
  src: url("./assets/fonts/AvenirLTStd-Oblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Roman;
  src: url("./assets/fonts/AvenirLTStd-Roman.otf");
}

/****************************
    K2D font-family
*****************************/
@font-face {
  font-family: K2D-Bold;
  src: url("./assets/fonts/K2D-Bold.ttf");
}
@font-face {
  font-family: K2D-BoldItalic;
  src: url("./assets/fonts/K2D-BoldItalic.ttf");
}
@font-face {
  font-family: K2D-ExtraBold;
  src: url("./assets/fonts/K2D-ExtraBold.ttf");
}
@font-face {
  font-family: K2D-ExtraBoldItalic;
  src: url("./assets/fonts/K2D-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: K2D-ExtraLight;
  src: url("./assets/fonts/K2D-ExtraLight.ttf");
}
@font-face {
  font-family: K2D-ExtraLightItalic;
  src: url("./assets/fonts/K2D-ExtraLightItalic.ttf");
}
@font-face {
  font-family: K2D-Italic;
  src: url("./assets/fonts/K2D-Italic.ttf");
}
@font-face {
  font-family: K2D-Light;
  src: url("./assets/fonts/K2D-Light.ttf");
}
@font-face {
  font-family: K2D-LightItalic;
  src: url("./assets/fonts/K2D-LightItalic.ttf");
}

@font-face {
  font-family: K2D-Medium;
  src: url("./assets/fonts/K2D-Medium.ttf");
}
@font-face {
  font-family: K2D-MediumItalic;
  src: url("./assets/fonts/K2D-MediumItalic.ttf");
}
@font-face {
  font-family: K2D-Regular;
  src: url("./assets/fonts/K2D-Regular.ttf");
}
@font-face {
  font-family: K2D-SemiBold;
  src: url("./assets/fonts/K2D-SemiBold.ttf");
}
@font-face {
  font-family: K2D-SemiBoldItalic;
  src: url("./assets/fonts/K2D-SemiBoldItalic.ttf");
}
@font-face {
  font-family: K2D-Thin;
  src: url("./assets/fonts/K2D-Thin.ttf");
}
@font-face {
  font-family: K2D-ThinItalic;
  src: url("./assets/fonts/K2D-ThinItalic.ttf");
}
