/***=================================
    *** @DESC ADMIN HOME CSS
=================================***/
.home-main-button-tab {
  height: 12vh;
  display: flex;
  margin: vw(15px);
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(10px) rgba(0, 0, 0, 0.1);
  text-decoration: none !important;

  .round-circle-div {
    border: vw(1px) solid #000;
    border-radius: vw(50px);
    width: vw(55px);
    height: 6vh;
  }

  h4 {
    font-size: vw(21px);
    line-height: vw(25px);
    color: #000;
    font-family: AvenirLTStd-Medium;
    margin-left: vw(20px);
  }
}

.single-button-css {
  width: 18%;
  padding: vw(0px) vw(20px);
}
