/********************
    Team Member Scss
********************/

/***********************************
    Team Member Modal CSS
***********************************/
.add-team-member-modal {
  width: vw(586px);
  height: auto;
  background: #ffffff;
  background-clip: padding-box;
  border-radius: vw(20px);
  box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.19);
  padding: 0;

  .select-box-label {
    font-size: vw(21px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    line-height: vw(25px);
    margin-bottom: vw(10px);
  }

  .select-custom {
    border: vw(1px) solid #e6e6e6;
    border-radius: vw(30px);
    height: vw(60px);
    margin-bottom: vw(10px);
  }
}

/***********************************
    Team Member View Modal CSS
***********************************/
.main-team-member-ViewNew {
  padding: 0;
}

.main-team-member-View {
  width: vw(836px) !important;
  transition: all 5s;
  // animation: img anim 0.5s linear both;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: vw(0px) vw(0px) vw(30px) rgba(0, 0, 0, 0.19);
  padding: vw(30px);
  position: absolute;
  right: 0 !important;

  .view-profile-img {
    width: vw(135px);
    height: vw(135px);
  }

  .icon-image {
    width: vw(42px);
    height: vw(42px);
    box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.29);
    border-radius: vw(5px);
    margin-top: vw(15px);
    margin-bottom: vw(30px);
    margin-left: vw(15px);
  }

  .closed-popup-team {
    width: vw(28px);
    height: vw(28px);
  }

  h3 {
    font-size: vw(28px);
    font-family: AvenirLTStd-Black;
    color: #000;
    line-height: vw(34px);
    margin-bottom: vw(18px);
  }

  h2 {
    font-size: vw(24px);
    font-family: AvenirLTStd-Black;
    color: #000;
    line-height: vw(29px);
    margin-top: vw(18px);

    span {
      font-size: vw(24px);
      font-family: AvenirLTStd-Roman;
      color: #000;
      line-height: vw(29px);
    }
  }
}

/***********************************
    Team Member Card Reusable CSS
***********************************/

.team-member-card {
  margin-bottom: vw(30px);

  .inside-team-member-card {
    border-radius: vw(15px);
    background-color: #fff;
    box-shadow: vw(0px) vw(0px) vw(30px) rgba(0, 0, 0, 0.19);
    align-items: center;
  }

  h5 {
    font-size: vw(24px);
    font-family: AvenirLTStd-Black;
    color: #000;
    line-height: vw(29px);
    margin-bottom: vw(10px);
  }

  p {
    font-size: vw(21px);
    font-family: AvenirLTStd-Roman;
    color: #000;
    line-height: vw(24px);
  }

  .profile-image {
    width: vw(160px);
    height: vw(160px);
    margin-top: vw(30px);
  }

  .team-member-icon-image {
    display: flex;
    justify-content: center;
    margin-top: vw(54px);
  }

  .icon-image {
    width: vw(42px);
    height: vw(42px);
    border-radius: vw(5px);
    margin-right: vw(12px);
    box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.29);
  }
}
